
<div id="welcomeWrapper">
  <div id="shadowOnOff">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->


      <div class="item active">
        <img class="first-slide" src="http://i.imgur.com/w5JxQ1j.jpg"  alt="First slide">
        <div class="container">
          <div class="carousel-caption" style="top:10px;">

            <h2>Change Your Password</h2>
            <br>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
                <%= devise_error_messages! %>
                <%= f.hidden_field :reset_password_token %>

                <div class="field">
                  <%= f.label :password, "New password" %><br />
                  <% if @minimum_password_length %>
                      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
                  <% end %>
                  <%= f.password_field :password, autofocus: true, autocomplete: "off", :style => "color:black;" %>
                </div>
                <br>
                <div class="field">
                  <%= f.label :password_confirmation, "Confirm new password" %><br />
                  <%= f.password_field :password_confirmation, autocomplete: "off", :style => "color:black;" %>
                </div>
                <br>
                <div class="actions btn btn-primary">
                  <%= f.submit "Change my password", :class => "btn" %>
                </div>
            <% end %>


            <br>
            <br>
            <p>Remember your password?</p>
            <p><a class="btn btn-lg btn-primary" id="loginButton" href="/" data-turbolinks="false">Login</a></p>

          </div>
        </div>
      </div>


    </div>
  </div>
</div>



