
<div id="welcomeWrapper">
  <div id="shadowOnOff">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->


      <div class="item active">
        <img class="first-slide" src="http://i.imgur.com/w5JxQ1j.jpg"  alt="First slide">
        <div class="container">
          <div class="carousel-caption" style="top:20px;">
            <h2>Forgot Your Password?</h2>
            <br>
            <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
                <%= devise_error_messages! %>

                <div class="field" >
                  <%= f.label :email %><br />
                  <%= f.email_field :email, autofocus: true, :style => "color:black;" %>
                </div>
                <br>

                <div class="actions btn btn-default btn-primary">
                  <%= f.submit "Send me reset password instructions", :class => "btn" %>
                </div>
            <% end %>

            <br>
            <br>
            <br>
            <br>
            <br>
            <p>Remember your password?</p>
            <p><a class="btn btn-lg btn-primary" id="loginButton" href="/" data-turbolinks="false">Login</a></p>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>


