

        <div id="dashContents">
          <div id="textAboveTable">
            <h2 class="page-header" style="" id="dateTitle"></h2>

            <p style="left:310px;">Hit the checkmark to save a sheet. Hit the X button to delete a sheet.</p>
            <% @pages.each do |p| %>
                <div>
                <p id="submitStatus" style="display:none;"><%= p.submitted %></p>
                <p id="submitDate" style="display:none;"><%= p.date_of_time %></p>
            <%= form_for(p,  :url => {:action => 'update', :id => p.id}) do |f| %>
                    <%= button_tag "Submit for Approval?", type: 'submit', class: "submitButton btn", style: "display:none;",id:"submitButton", name: "subaction", value: "Submitted" %>
                <% end %>
                </div>
                <% end %>

            <div datePickerTag="last">
              <label id="labelforlast">Select Date: </label>
              <input style="" id="datepicker">
              <br>

            </div>

          </div>
          <%= form_for(@new_pages) do |t| %>
              <%= t.text_field :date_of_time, { :id => 'datePicked', :style => "display:none;"  } %>
              <%= t.text_field :department, :value => current_user.department, :style => "display:none;"   %>
          <!--
                    <div class="row placeholders">
                      <div class="col-xs-6 col-sm-3 placeholder">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                        <h4>Label</h4>
                        <span class="text-muted">Something else</span>
                      </div>
                      <div class="col-xs-6 col-sm-3 placeholder">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                        <h4>Label</h4>
                        <span class="text-muted">Something else</span>
                      </div>
                      <div class="col-xs-6 col-sm-3 placeholder">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                        <h4>Label</h4>
                        <span class="text-muted">Something else</span>
                      </div>
                      <div class="col-xs-6 col-sm-3 placeholder">
                        <img src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="200" height="200" class="img-responsive" alt="Generic placeholder thumbnail">
                        <h4>Label</h4>
                        <span class="text-muted">Something else</span>
                      </div>
                    </div>

          -->


          <h2 class="sub-header">&nbsp;</h2>

          <div class="table-responsive" id="pageGapDash">

            <table class="table table-striped" style="font-size:12px;">
              <thead>
              <tr style="padding: 8px 8px 8px 0px;">
                <th></th>
                <th >Credit Union</th>
                <th >Activity</th>
                <th >Task</th>
                <th >Billing Options</th>
                <!--
                <th >Billing Opt - SCR</th>
                <th >Billing Opt - FTR</th>
                -->
                <th  id="Date1"></th>
                <th  id="Date2"></th>
                <th  id="Date3"></th>
                <th  id="Date4"></th>
                <th  id="Date5"></th>
                <th  id="Date6"></th>
                <th  id="Date7"></th>
                <th >Total</th>

              </tr>
              </thead>
              <tbody>
              <tr >

                <td style="z-index:1000;" id="submitBut">
                  <%= button_tag "", type: 'submit', class: "btn btn-success glyphicon glyphicon-ok pull-right actualSubmitBut" %>
                </td>

                <td>
                  <%= t.select :credit_union, options_for_select("List"), {}, { :id => "CUList", :class => "creditUnionSelect" , 'data-width' => '150px', 'title' => 'Credit Union', 'data-live-search' => "true" } %>

                </td>
                <td>

                  <%= t.select :activity, options_for_select([
                                                                 "06-CU-10 IT Compliance Review",
                                                                 "748 Annual Review",
                                                                 "ACH Audit",
                                                                 "ACH Risk Assessment",
                                                                 "Administrative",
                                                                 "ATM Safety Evaluation",
                                                                 "Ballot Tabulation",
                                                                 "Bank Reconciliation",
                                                                 "BSA/CIP/OFAC Compliance Review",
                                                                 "Call Report Preparation",
                                                                 "Cash Counts",
                                                                 "Custom IT Consulting",
                                                                 "Cyber Security Assessment Toolkit",
                                                                 "FTR Speaking Engagement",
                                                                 "FTR Workshops",
                                                                 "Holiday",
                                                                 "Illness",
                                                                 "Internal Audit",
                                                                 "Loan Review",
                                                                 "Member Account Verification",
                                                                 "PCI PIN Security Compliance Review",
                                                                 "Personal",
                                                                 "Remote Systems Maintence",
                                                                 "Risk Assessment & Policy Development",
                                                                 "Special Services",
                                                                 "Supervisory Committee Annual Review",
                                                                 "TR-39 PIN Audit",
                                                                 "Travel",
                                                                 "Vacation",
                                                                 "Vulnerability Assessment Training"]),
                               {}, { :class => "selectpicker show-tick activitySelect" , 'data-width' => '120px', 'title' => 'Activity' } %>
                </td>
                <td>

                  <%= t.select :task, options_for_select([
                                                             "Production",
                                                             "Non-Production"]),
                               {}, { :class => "selectpicker show-tick task" , 'data-width' => '120px', 'title' => 'Task' } %>


                  <!--
                  <select class="selectpicker show-tick" title="Task" data-width="90px">
                    <option>Production</option>
                    <option>Non-Production</option>
                  </select> -->
                </td>
                <td>
                  <%= t.select :billing_options, options_for_select([
                                                                       "Onsite",
                                                                       "Remote",
                                                                      "Non-Billable"]),
                               {}, { :class => "selectpicker show-tick billing-options" , 'data-width' => '120px', 'title' => 'Bill' } %>

                </td>

                <td style="display:inline-block;">
                  <div class="input-group has-clear dropdown" style="display:inline-block;">
                    <%= t.number_field :sun, { 'onkeypress' => 'validate(event)', :class => "form-control numb" , :style => "width:68px;" , 'value' => '0.00' , 'step' => '0.25', 'min' => '0' } %>
                    <a class="glyphicon glyphicon-comment form-control-clear dropdown-toggle" data-toggle="dropdown" style="font-size:15px;padding:3px;vertical-align:center;"></a>
                    <ul id="login-dp" class="dropdown-menu feedback">
                      <li>
                        <div class="report">
                            <div class="col-sm-12">
                              <%= t.text_area :sunnotes, { :class => "form-control", :placeholder => "Enter any comments or notes for this day." , :style => "width:220px;padding:2px;" } %>

                              <input name="screenshot" type="hidden" class="screen-uri">
                              <span class="screenshot pull-right"><i class="fa fa-camera cam" title="Take Screenshot"></i></span>
                            </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </td>
                <td>
                  <div class="input-group has-clear dropdown">
                    <%= t.number_field :mon, { 'onkeypress' => 'validate(event)', :class => "form-control numb" , :style => "width:68px;" , 'value' => '0.00' , 'step' => '0.25', 'min' => '0' } %>
                    <a class="glyphicon glyphicon-comment form-control-clear dropdown-toggle" data-toggle="dropdown" style="font-size:15px;padding:3px;vertical-align:center;"></a>
                    <ul id="login-dp" class="dropdown-menu feedback">
                      <li>
                        <div class="report">
                          <div class="col-sm-12">
                            <%= t.text_area :monnotes, { :class => "form-control", :placeholder => "Enter any comments or notes for this day." , :style => "width:220px;padding:2px;" } %>
                            <input name="screenshot" type="hidden" class="screen-uri">
                            <span class="screenshot pull-right"><i class="fa fa-camera cam" title="Take Screenshot"></i></span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </td>
                <td>
                  <div class="input-group has-clear dropdown">
                    <%= t.number_field :tue, { 'onkeypress' => 'validate(event)', :class => "form-control numb" , :style => "width:68px;" , 'value' => '0.00' , 'step' => '0.25', 'min' => '0' } %>
                    <a class="glyphicon glyphicon-comment form-control-clear dropdown-toggle" data-toggle="dropdown" style="font-size:15px;padding:3px;vertical-align:center;"></a>
                    <ul id="login-dp" class="dropdown-menu feedback">
                      <li>
                        <div class="report">
                          <div class="col-sm-12">
                            <%= t.text_area :tuenotes, { :class => "form-control", :placeholder => "Enter any comments or notes for this day." , :style => "width:220px;padding:2px;" } %>
                            <input name="screenshot" type="hidden" class="screen-uri">
                            <span class="screenshot pull-right"><i class="fa fa-camera cam" title="Take Screenshot"></i></span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </td>
                <td>
                  <div class="input-group has-clear dropdown">
                    <%= t.number_field :wed, { 'onkeypress' => 'validate(event)', :class => "form-control numb" , :style => "width:68px;" , 'value' => '0.00' , 'step' => '0.25', 'min' => '0' } %>
                    <a class="glyphicon glyphicon-comment form-control-clear dropdown-toggle" data-toggle="dropdown" style="font-size:15px;padding:3px;vertical-align:center;"></a>
                    <ul id="login-dp" class="dropdown-menu feedback">
                      <li>
                        <div class="report">
                          <div class="col-sm-12">
                            <%= t.text_area :wednotes, { :class => "form-control", :placeholder => "Enter any comments or notes for this day." , :style => "width:220px;padding:2px;" } %>
                            <input name="screenshot" type="hidden" class="screen-uri">
                            <span class="screenshot pull-right"><i class="fa fa-camera cam" title="Take Screenshot"></i></span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </td>
                <td>
                  <div class="input-group has-clear dropdown">
                    <%= t.number_field :thu, { 'onkeypress' => 'validate(event)', :class => "form-control numb" , :style => "width:68px;" , 'value' => '0.00' , 'step' => '0.25', 'min' => '0' } %>
                    <a class="glyphicon glyphicon-comment form-control-clear dropdown-toggle" data-toggle="dropdown" style="font-size:15px;padding:3px;vertical-align:center;"></a>
                    <ul id="login-dp" class="dropdown-menu feedback">
                      <li>
                        <div class="report">
                          <div class="col-sm-12">
                            <%= t.text_area :thunotes, { :class => "form-control", :placeholder => "Enter any comments or notes for this day." , :style => "width:220px;padding:2px;" } %>
                            <input name="screenshot" type="hidden" class="screen-uri">
                            <span class="screenshot pull-right"><i class="fa fa-camera cam" title="Take Screenshot"></i></span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </td>
                <td>
                  <div class="input-group has-clear dropdown">
                    <%= t.number_field :fri, { 'onkeypress' => 'validate(event)', :class => "form-control numb" , :style => "width:68px;" , 'value' => '0.00' , 'step' => '0.25', 'min' => '0' } %>
                    <a class="glyphicon glyphicon-comment form-control-clear dropdown-toggle" data-toggle="dropdown" style="font-size:15px;padding:3px;vertical-align:center;"></a>
                    <ul id="login-dp" class="dropdown-menu feedback">
                      <li>
                        <div class="report">
                          <div class="col-sm-12">
                            <%= t.text_area :frinotes, { :class => "form-control", :placeholder => "Enter any comments or notes for this day." , :style => "width:220px;padding:2px;" } %>
                            <input name="screenshot" type="hidden" class="screen-uri">
                            <span class="screenshot pull-right"><i class="fa fa-camera cam" title="Take Screenshot"></i></span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </td>
                <td>
                  <div class="input-group has-clear dropdown">
                    <%= t.number_field :sat, { 'onkeypress' => 'validate(event)', :class => "form-control numb" , :style => "width:68px;" , 'value' => '0.00' , 'step' => '0.25', 'min' => '0' } %>
                    <a class="glyphicon glyphicon-comment form-control-clear dropdown-toggle" data-toggle="dropdown" style="font-size:15px;padding:3px;vertical-align:center;"></a>
                    <ul id="login-dp" class="dropdown-menu feedback">
                      <li>
                        <div class="report">
                          <div class="col-sm-12">
                            <%= t.text_area :satnotes, { :class => "form-control", :placeholder => "Enter any comments or notes for this day." , :style => "width:220px;padding:2px;" } %>
                            <input name="screenshot" type="hidden" class="screen-uri">
                            <span class="screenshot pull-right"><i class="fa fa-camera cam" title="Take Screenshot"></i></span>
                          </div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </td>
                <td>
                  <div class="input-group">

                    <%= t.number_field :total, {:class => "form-control" , :style => "width:68px;" , :id => "totalNew" , 'onkeydown' => 'return false;' , :readonly => true } %>
                  </div>
                </td>
              </tr>
<% end %>
</tbody>

<tbody id="tableElements">
<% @pages.each do |p| %>
    <tr id="row_<%= p.id %>" class="timesheetEntry">
      <td><%= link_to '', page_path(p, :type => "timesheet"), method: :delete, data: { confirm: 'Do you want to delete this entry?' }, :remote => true, :style => "font-size:10px;", :class => 'delete_page btn btn-danger glyphicon glyphicon-remove pull-right' %></td>
      <td><%= p.credit_union %> </td>
      <td><%= p.activity %> </td>
      <td><%= p.task %> </td>
      <td><%= p.billing_options %> </td>

      <td class="dropdown">
        <p class="sunEntry" style="float:left;"><%= p.sun %></p><a class="glyphicon glyphicon-comment form-control-clear dropdown-toggle" data-toggle="dropdown" style="font-size:15px;padding-left:6px;vertical-align:center;float:left;"></a>
        <ul id="login-dp" class="dropdown-menu feedback">
          <li>
            <div class="report">
              <div class="col-sm-12">
                <p class="noteclass"><%= p.sunnotes %></p>
                <input name="screenshot" type="hidden" class="screen-uri">
                <span class="screenshot pull-right"><i class="fa fa-camera cam" title="Take Screenshot"></i></span>
              </div>
            </div>
          </li>
        </ul>
      </td>
      <td class="dropdown"><p class="monEntry" style="float:left;"><%= p.mon %></p>
        <a class="glyphicon glyphicon-comment form-control-clear dropdown-toggle" data-toggle="dropdown" style="font-size:15px;padding-left:6px;vertical-align:center;"></a>
        <ul id="login-dp" class="dropdown-menu feedback">
          <li>
            <div class="report">
              <div class="col-sm-12">
                <p class="noteclass"><%= p.monnotes %></p>
                <input name="screenshot" type="hidden" class="screen-uri">
                <span class="screenshot pull-right"><i class="fa fa-camera cam" title="Take Screenshot"></i></span>
              </div>
            </div>
          </li>
        </ul>
      </td>
      <td class="dropdown"><p class="tueEntry" style="float:left;"><%= p.tue %></p>
        <a class="glyphicon glyphicon-comment form-control-clear dropdown-toggle" data-toggle="dropdown" style="font-size:15px;padding-left:6px;vertical-align:center;"></a>
        <ul id="login-dp" class="dropdown-menu feedback">
          <li>
            <div class="report">
              <div class="col-sm-12">
                <p class="noteclass"><%= p.tuenotes %></p>
                <input name="screenshot" type="hidden" class="screen-uri">
                <span class="screenshot pull-right"><i class="fa fa-camera cam" title="Take Screenshot"></i></span>
              </div>
            </div>
          </li>
        </ul>
      </td>
      <td class="dropdown"><p class="wedEntry" style="float:left;"><%= p.wed %></p>
        <a class="glyphicon glyphicon-comment form-control-clear dropdown-toggle" data-toggle="dropdown" style="font-size:15px;padding-left:6px;vertical-align:center;"></a>
        <ul id="login-dp" class="dropdown-menu feedback">
          <li>
            <div class="report">
              <div class="col-sm-12">
                <p class="noteclass"><%= p.wednotes %></p>
                <input name="screenshot" type="hidden" class="screen-uri">
                <span class="screenshot pull-right"><i class="fa fa-camera cam" title="Take Screenshot"></i></span>
              </div>
            </div>
          </li>
        </ul>
      </td>
      <td class="dropdown"><p class="thuEntry" style="float:left;"><%= p.thu %></p>
        <a class="glyphicon glyphicon-comment form-control-clear dropdown-toggle" data-toggle="dropdown" style="font-size:15px;padding-left:6px;vertical-align:center;"></a>
        <ul id="login-dp" class="dropdown-menu feedback">
          <li>
            <div class="report">
              <div class="col-sm-12">
                <p class="noteclass"><%= p.thunotes %></p>
                <input name="screenshot" type="hidden" class="screen-uri">
                <span class="screenshot pull-right"><i class="fa fa-camera cam" title="Take Screenshot"></i></span>
              </div>
            </div>
          </li>
        </ul>
      </td>
      <td class="dropdown"><p class="friEntry" style="float:left;"><%= p.fri %></p>
        <a class="glyphicon glyphicon-comment form-control-clear dropdown-toggle" data-toggle="dropdown" style="font-size:15px;padding-left:6px;vertical-align:center;"></a>
        <ul id="login-dp" class="dropdown-menu feedback">
          <li>
            <div class="report">
              <div class="col-sm-12">
                <p class="noteclass"><%= p.frinotes %></p>
                <input name="screenshot" type="hidden" class="screen-uri">
                <span class="screenshot pull-right"><i class="fa fa-camera cam" title="Take Screenshot"></i></span>
              </div>
            </div>
          </li>
        </ul>
      </td>
      <td class="dropdown"><p class="satEntry" style="float:left;"><%= p.sat %></p>
        <a class="glyphicon glyphicon-comment form-control-clear dropdown-toggle" data-toggle="dropdown" style="font-size:15px;padding-left:6px;vertical-align:center;"></a>
        <ul id="login-dp" class="dropdown-menu feedback">
          <li>
            <div class="report">
              <div class="col-sm-12">
                <p class="noteclass"><%= p.satnotes %></p>
                <input name="screenshot" type="hidden" class="screen-uri">
                <span class="screenshot pull-right"><i class="fa fa-camera cam" title="Take Screenshot"></i></span>
              </div>
            </div>
          </li>
        </ul>
      <td><p class="totalEntry"><%= p.total %></p> </td>
      <td style="display:none;" class="dateBlob"><%= p.date_of_time %></td>
    </tr>
<% end %>

</tbody>

<tbody>
<tr class="success" id="totalsColumn">
  <td class="otherTotalCol"><p style="font-weight:bold;">Totals:</p></td>
  <td class="otherTotalCol"></td>
  <td class="otherTotalCol"></td>
  <td class="otherTotalCol"></td>
  <td class="otherTotalCol"></td>
  <td><p style="font-weight:bold;" id="totalSun"></p></td>
  <td><p style="font-weight:bold;" id="totalMon"></p></td>
  <td><p style="font-weight:bold;" id="totalTue"></p></td>
  <td><p style="font-weight:bold;" id="totalWed"></p></td>
  <td><p style="font-weight:bold;" id="totalThu"></p></td>
  <td><p style="font-weight:bold;" id="totalFri"></p></td>
  <td><p style="font-weight:bold;" id="totalSat"></p></td>
  <td><p style="font-weight:bold;" id="totalTotal"></p></td>
</tr>
</tbody>

</table>
</div>
</div>
</div>
</div>
