<style>
  @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
  * .inputwrap {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }

  body .inputwrap {
    font-family: "Roboto", Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 12px;
    line-height: 30px;
    color: #777;
    background: #4CAF50;
  }

  .containerz {
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
    position: relative;
  }

  #contact input[type="text"],
  #contact input[type="email"],
  #contact input[type="tel"],
  #contact input[type="url"],
  #contact textarea,
  #contact button[type="submit"] {
    font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
  }

  #contactz {
    background: #F9F9F9;
    padding: 25px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

  #contactz h3 {
    display: block;
    font-size: 30px;
    font-weight: 300;
    margin-bottom: 10px;
  }

  #contactz h4 {
    margin: 5px 0 15px;
    display: block;
    font-size: 13px;
    font-weight: 400;
  }

  fieldset .inputwrap  {
    border: medium none !important;
    margin: 0 0 10px;
    min-width: 100%;
    padding: 0;
    width: 100%;
  }

  #contactz input[type="text"],
  #contactz input[type="email"],
  #contactz input[type="tel"],
  #contactz input[type="url"],
  #contactz textarea {
    width: 100%;
    border: 1px solid #ccc;
    background: #FFF;
    margin: 0 0 5px;
    padding: 10px;
  }

  #contactz input[type="text"]:hover,
  #contactz input[type="email"]:hover,
  #contactz input[type="tel"]:hover,
  #contactz input[type="url"]:hover,
  #contactz textarea:hover {
    -webkit-transition: border-color 0.3s ease-in-out;
    -moz-transition: border-color 0.3s ease-in-out;
    transition: border-color 0.3s ease-in-out;
    border: 1px solid #aaa;
  }

  #contactz textarea {
    height: 100px;
    max-width: 100%;
    resize: none;
  }

  #contactz button[type="submit"] {
    cursor: pointer;
    width: 100%;
    border: none;
    background: #4CAF50;
    color: #FFF;
    margin: 0 0 5px;
    padding: 10px;
    font-size: 15px;
  }

  #contactz button[type="submit"]:hover {
    background: #43A047;
    -webkit-transition: background 0.3s ease-in-out;
    -moz-transition: background 0.3s ease-in-out;
    transition: background-color 0.3s ease-in-out;
  }

  #contactz button[type="submit"]:active {
    box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
  }


  #contactz input:focus,
  #contactz textarea:focus {
    outline: 0;
    border: 1px solid #aaa;
  }

  ::-webkit-input-placeholder {
    color: #888;
  }

  :-moz-placeholder {
    color: #888;
  }

  ::-moz-placeholder {
    color: #888;
  }

  :-ms-input-placeholder {
    color: #888;
  }

  .image-preview-input {
    position: relative;
    overflow: hidden;
    margin: 0px;
    color: #333;
    background-color: #fff;
    border-color: #ccc;
  }
  .image-preview-input input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    filter: alpha(opacity=0);
  }
  .image-preview-input-title {
    margin-left:2px;
  }

  img {
    display: block;
    max-width:300px;
    max-height:600px;
    width: auto;
    height: auto;
  }
</style>
<script>
  function isNumber(evt) {
    var theEvent = evt || window.event;
    var key = theEvent.keyCode || theEvent.which;
    key = String.fromCharCode(key);
    if (key.length == 0) return;
    var regex = /^[0-9.,\b]+$/;
    if (!regex.test(key)) {
      theEvent.returnValue = false;
      if (theEvent.preventDefault) theEvent.preventDefault();
    }
  }
</script>




    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content containerz">
          <div class="modal-header" style="padding: 1px 15px 1px 15px;">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>

          </div>

          <div class="modal-body">

            <div class="containerz" class="inputwrap" style="">
              <form id="contactz" action="" method="post">
                <h3>Add Expense</h3>
                <h4>Enter the information below to submit an expense</h4>
                <%= form_for @new_expenses, html: { multipart: true } do |t| %>

                  <%= t.text_field :dateActivity, { :id => "expenseDate", :placeholder => "Date of Expense"} %>

                  <%= t.text_field :typeOfExpense, { :placeholder => "Type" } %>

                  <%= t.text_field :amount, {  :onkeypress => 'return isNumber()', :id => "amountInput" , 'placeholder' => 'Amount $0.00', :step => 0.01 } %>

                  <%= t.text_field :payment, { :placeholder => "Payment Type" } %>


                  <%= t.text_field :notes, {:class => "form-control", :placeholder => "Description"} %>

                  <div style="line-height:75%;"><br></div>

                  <%= t.file_field :image %>

                    <br>

                  <%= button_tag "Submit", type: 'submit', id: "contact-submit" %>
                </fieldset>
                <% end %>
              </form>
            </div>
          </div>

        </div>
      </div>
    </div>
