<head>
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
  <style>

    /* ------------------------------------------
            :: New Expense ::
       ------------------------------------------ */
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
    .container{
      margin-top:20px;
    }

    .css-class-to-highlight-approved a {
      background-color: #218212 !important;
      background-image :none !important;
      color: #efefef !important;
    }
    .css-class-to-highlight-pending a {
      background-color: #EC971F !important;
      background-image :none !important;
      color: #efefef !important;
    }
    .css-class-to-highlight-declined a {
      background-color: #910101 !important;
      background-image :none !important;
      color: #efefef !important;
    }

    .ui-datepicker-current-day a {
      background-color: #007fff !important;
      background-image :none !important;
      color: #efefef !important;
    }

    .image-preview-input {
      position: relative;
      overflow: hidden;
      margin: 0px;
      color: #333;
      background-color: #fff;
      border-color: #ccc;
    }
    .image-preview-input input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
    .image-preview-input-title {
      margin-left:2px;
    }
    * .inputwrap {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      -o-font-smoothing: antialiased;
      font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
    }

    body {
      background-color:#eaf1fc !important ;
    }

    body .inputwrap {
      font-family: "Roboto", Helvetica, Arial, sans-serif;
      font-weight: 100;
      font-size: 12px;
      line-height: 30px;
      color: #777;
    }



    .containerz {
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
      position: relative;
    }

    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="url"],
    #contact textarea,
    #contact button[type="submit"] {
      font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
    }

    #contactz {
      background: #F9F9F9;
      padding: 25px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    #contactz h3 {
      display: block;
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 10px;
    }

    #contactz h4 {
      margin: 5px 0 15px;
      display: block;
      font-size: 13px;
      font-weight: 400;
    }

    fieldset .inputwrap  {
      border: medium none !important;
      margin: 0 0 10px;
      min-width: 100%;
      padding: 0;
      width: 100%;
    }

    #contactz input[type="text"],
    #contactz input[type="email"],
    #contactz input[type="tel"],
    #contactz input[type="url"],
    #contactz textarea {
      width: 100%;
      border: 1px solid #ccc;
      background: #FFF;
      margin: 0 0 5px;
      padding: 10px;
    }

    #contactz input[type="text"]:hover,
    #contactz input[type="email"]:hover,
    #contactz input[type="tel"]:hover,
    #contactz input[type="url"]:hover,
    #contactz textarea:hover {
      -webkit-transition: border-color 0.3s ease-in-out;
      -moz-transition: border-color 0.3s ease-in-out;
      transition: border-color 0.3s ease-in-out;
      border: 1px solid #aaa;
    }

    #contactz textarea {
      height: 100px;
      max-width: 100%;
      resize: none;
    }

    #contactz button[type="submit"] {
      cursor: pointer;
      width: 100%;
      border: none;
      background: #4CAF50;
      color: #FFF;
      margin: 0 0 5px;
      padding: 10px;
      font-size: 15px;
    }

    #contactz button[type="submit"]:hover {
      background: #43A047;
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
    }

    #contactz button[type="submit"]:active {
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    }


    #contactz input:focus,
    #contactz textarea:focus {
      outline: 0;
      border: 1px solid #aaa;
    }

    ::-webkit-input-placeholder {
      color: #888;
    }

    :-moz-placeholder {
      color: #888;
    }

    ::-moz-placeholder {
      color: #888;
    }

    :-ms-input-placeholder {
      color: #888;
    }

    .image-preview-input {
      position: relative;
      overflow: hidden;
      margin: 0px;
      color: #333;
      background-color: #fff;
      border-color: #ccc;
    }
    .image-preview-input input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
    .image-preview-input-title {
      margin-left:2px;
    }

    #imageNonZoom {
      display: block;
      max-width:300px;
      max-height:500px;
      width: auto;
      height: auto;
    }

    /* -------------------------------------------
            :: Custom ::
       ------------------------------------------- */


    .table-responsive {

    }

    html {
      width: 100%;
    }
    .custom-combobox {
      position: relative;
      display: inline-block;
    }
    .custom-combobox-toggle {
      position: absolute;
      top: 0;
      bottom: 0;
      margin-left: -1px;
      padding: 0;
    }
    .custom-combobox-input {
      margin: 0;
      padding: 5px 10px;
    }


    /* BOOTSNAP PROGRESS BAR 4-STEP */

    .one, .two, .three, .four{
      position:absolute;
      margin-top:-10px;
      z-index:1;
      height:40px;
      width:40px;
      border-radius:25px;
      background-color:#dcdcdc;
    }

    .one{
      left:-1%;
    }
    .two{
      left:33%;
    }
    .three{
      left:66%;
    }
    .four {
      left:99%;
    }
    .primary-color{
      background-color:#4989bd;
    }
    .success-color{
      background-color:#5cb85c;
    }
    .danger-color{
      background-color:#d9534f;
    }
    .warning-color{
      background-color:#f0ad4e;
    }
    .info-color{
      background-color:#5bc0de;
    }
    .no-color{
      background-color:#dcdcdc;
    }
    .progress {
      background-color:#dcdcdc;
    }
      .progress-bar-success1 {
        background-color:#5cb85c;
      }

  </style>
  <script>

      function newTotalFunction() {
          var nameArray = [];

          $('#tableElements').children('tr').each(function () {
              //find names
              var name = $(this).find('#names').text();
              if (jQuery.inArray(name,nameArray) == -1 ) {
                  nameArray.push(name);
              } else {

              }
          });

          $(".frontTable").each(function() {

              //CHANGE SUBMIT BUTTON WHEN FINAL SUPER-ADMIN IS ENABLED
              if ($(this).find("#progressbartext").text() != 0) {
                  $(this).find(".manySubmitButtons").each(function() {
                      $(this).css("display","inherit");
                  });
              }
              if ($(this).find("#approvalCover").text() != "Submitted") {
                  $(this).find(".manySubmitButtons").each(function() {
                      $(this).css("display","none");
                  });
              }
          });



      }

      function expenseSwitcher(name) {

          var monthNames = ["January", "February", "March", "April", "May", "June",
              "July", "August", "September", "October", "November", "December"
          ];
          curr = $('#datepicker').datepicker('getDate');
          first = curr.getDate() - curr.getDay();
          firstday = new Date(curr.setDate(first));
          second = curr.getDate() +1;
          secondday = new Date(curr.setDate(second));
          third = curr.getDate() + 1;
          thirdday = new Date(curr.setDate(third));
          fourth = curr.getDate() + 1;
          fourthday = new Date(curr.setDate(fourth));
          fifth = curr.getDate() + 1;
          fifthday = new Date(curr.setDate(fifth));
          sixth = curr.getDate() + 1;
          sixthday = new Date(curr.setDate(sixth));
          last = curr.getDate() + 1;
          lastday = new Date(curr.setDate(last));

          $('#dateTitle').text( (monthNames[firstday.getMonth()] ) + ' ' + firstday.getDate() + ', ' +  firstday.getFullYear() + " - " + (monthNames[lastday.getMonth()] ) + ' ' + lastday.getDate() + ', ' +  lastday.getFullYear() );
          $('#Date1').text("Sun " + firstday.getDate() );
          $('#Date2').text("Mon " + secondday.getDate() );
          $('#Date3').text("Tue " + thirdday.getDate() );
          $('#Date4').text("Wed " + fourthday.getDate() );
          $('#Date5').text("Thu " + fifthday.getDate() );
          $('#Date6').text("Fri " + sixthday.getDate() );
          $('#Date7').text("Sat " + lastday.getDate() );


          $('#datePicked').val($('#datepicker').datepicker('getDate'));

          var heights = 0;
          $('.expenseEntry').each(function () {
              //alert($(this).find('.dateBlob').text());
              if (moment($(this).find('.dateBlob').text()) <= lastday && moment($(this).find('.dateBlob').text()) >= firstday && $(this).find('.nameBlob').text() == name) {
                  $(this).css("display", "");

              } else {
                  $(this).css("display", "none");
                  // alert($(this).children('.dateBlob').text() + "      " + $.datepicker.formatDate("yy-mm-dd", curr) );
              }

          });


      }

      function calendarHighlight() {
          //Init Datepicker and add Highlights if timesheets aren't finished

          var counter = 0;
          var firstDay, endDay;
          var eventDates = [], eventDatesGood = [];
          $('.submitButtonWrap').each(function () {
              firstDay = moment($(this).find("#submitDate").text()).startOf("week");
              if ($(this).find("#submitStatus").text() == "Submitted") {
                  eventDatesGood.push(firstDay);
                  eventDatesGood.push(moment(firstDay).add(1,'days'));
                  eventDatesGood.push(moment(firstDay).add(2,'days'));
                  eventDatesGood.push(moment(firstDay).add(3,'days'));
                  eventDatesGood.push(moment(firstDay).add(4,'days'));
                  eventDatesGood.push(moment(firstDay).add(5,'days'));
                  eventDatesGood.push(moment(firstDay).add(6,'days'));
              } else {
                  eventDates.push(firstDay);
                  eventDates.push(moment(firstDay).add(1,'days'));
                  eventDates.push(moment(firstDay).add(2,'days'));
                  eventDates.push(moment(firstDay).add(3,'days'));
                  eventDates.push(moment(firstDay).add(4,'days'));
                  eventDates.push(moment(firstDay).add(5,'days'));
                  eventDates.push(moment(firstDay).add(6,'days'));
              }
          });

          var datesave = $('#datepicker').datepicker('getDate');
          $("#datepicker").datepicker('destroy');
          $("#datepicker").datepicker({
              beforeShowDay: function (date) {
                  for (var i = 0; i < eventDates.length; i++) {
                      if (new Date(eventDates[i]).toString() == date.toString()) {
                          return [true, 'css-class-to-highlight-declined', 'tooltip text'];
                      }
                  }
                  for (var i = 0; i < eventDatesGood.length; i++) {
                      if (new Date(eventDatesGood[i]).toString() == date.toString()) {
                          return [true, 'css-class-to-highlight-approved', 'tooltip text'];
                      }
                  }
                  return [true, ''];
              }
          });
          $("#datepicker").datepicker('setDate',datesave);

      }

      function isNumber(evt) {
          var theEvent = evt || window.event;
          var key = theEvent.keyCode || theEvent.which;
          key = String.fromCharCode(key);
          if (key.length == 0) return;
          var regex = /^[0-9.,\b]+$/;
          if (!regex.test(key)) {
              theEvent.returnValue = false;
              if (theEvent.preventDefault) theEvent.preventDefault();
          }
      }


      // DOCUMENT READY START //
      var frontTableClicked;
      var CUlist = [], dateList = [], sunList = [], monList = [], tueList = [], wedList = [], thuList = [], friList = [], satList = [];
      $(document).ready(function() {

          if ( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
              $('#sidebarNav').find('[datePickerTag="first"]').removeAttr("id");
          }
          else {
              $('#sidebarNav').find('[datePickerTag="first"]').attr("id","datepicker");
              $('.mobileDateCheck').find('[datePickerTag="last"]').css("display","none");
          }

          var monthNames = ["January", "February", "March", "April", "May", "June",
              "July", "August", "September", "October", "November", "December"
          ];
          var nameArray = [];

          calendarHighlight();

          if (sessionStorage.refreshCount == undefined) {
              $("#datepicker").datepicker().datepicker("setDate", new Date());
              sessionStorage.refreshCount = 1;
          } else {
              var date = sessionStorage.datePicked;
              date = new Date(date);
              date.setDate(date.getDate());

              $("#datepicker").datepicker().datepicker("setDate", date );
          }
          sessionStorage.refreshCount = sessionStorage.refreshCount + 1;
          //new Date("10/10/2016")

          noExpensesCheck();


          //Saves date local variable
          sessionStorage.datePicked = $('#datepicker').datepicker('getDate');

          $(".approvalclass").each(function() {
              var approval = $(this).clone().children().remove().end().text();
              if (approval == "Reviewed") {
                  $(this).css("color","#5bc0de");
              }
              if (approval == "Pending") {
                  $(this).css("color","#ec971f");
              }
              if (approval == "Unapproved") {
                  $(this).css("color","#cc0a0a");
              }
          });

          $(".dollarCheck").each(function() {
              if ($(this).children('span').text() == "") {

              } else {
                  $(this).html("<span class='.dollarCheck'>$<span class='" + $(this).children('span').attr('class') + "'>" + $(this).children('span').text() + "</span");
              }
          });


          newTotalFunction();


          $('.frontTable').click(function(event) {
              if (event.target.id == "successBut" || event.target.id == "failBut") {
                  return;
              }
              frontTableClicked = $(this);
              selectedName = $(this).find("#nameHolder").text().trim();
              expenseSwitcher(selectedName);

              // Shows or hides review column if submitted or not
              submitStatus = $(this).find("#approvalCover").text();
              if (submitStatus == "Not Submitted") {
                  $(".reviewColumn").each(function() {
                     $(this).css("display","none");
                  });
              } else {
                  $(".reviewColumn").each(function() {
                      $(this).css("display","");
                  });
              }

              $("#expenseWrap").slideUp();
              $("#wholeWrapper").css("display","");
          });


          $('#clearMonth').click(function() {
              $("#wholeWrapper").css("display","none");
              $("#expenseWrap").slideDown();
          });



          //Approval Buttons
          $('.approvalButtons').each(function() {
              var approval = $(this).find('#ApprovalBlob').val();
              $(this).find('#successBut').className = '';
              $(this).find('#failBut').className = '';
              if (approval == "Reviewed") {
                  $(this).find('#successBut').addClass("btn btn-info glyphicon glyphicon-ok");
                  $(this).find('#failBut').addClass("btn btn-default glyphicon glyphicon-remove");
              }
              if (approval == "Unapproved") {
                  $(this).find('#successBut').addClass("btn btn-default glyphicon glyphicon-ok");
                  $(this).find('#failBut').addClass("btn btn-danger glyphicon glyphicon-remove");
              }
              if (approval == "Pending" || approval == "") {
                  $(this).find('#successBut').addClass("btn btn-warning glyphicon glyphicon-ok");
                  $(this).find('#failBut').addClass("btn btn-warning glyphicon glyphicon-remove");
              }
          });

          $('.approvalButtonsFinal').each(function() {
              var approval = $(this).find('#ApprovalBlob').val();
              $(this).find('#successBut').className = '';
              $(this).find('#failBut').className = '';
              if (approval == "Approved") {
                  $(this).find('#successBut').addClass("btn btn-success ");
                  $(this).find('#failBut').addClass("btn btn-default ");
                  $(this).find("#successBut").text("Approved");
                  $(this).find("#failBut").text("Unapprove");
              }
              if (approval == "Unapproved") {
                  $(this).find('#successBut').addClass("btn btn-default ");
                  $(this).find('#failBut').addClass("btn btn-danger ");
                  $(this).find("#successBut").text("Approve");
                  $(this).find("#failBut").text("Unapproved");
                  $(this).find('#failBut').css("background","color:#d9534f")
              }
              if (approval == "Reviewed" || approval == "") {
                  $(this).find('#successBut').addClass("btn btn-warning");
                  $(this).find('#failBut').addClass("btn btn-warning ");
                  $(this).find("#successBut").text("Approve");
                  $(this).find("#failBut").text("Unapprove");
              }

          });

          //Changes approval buttons color when clicked

          $( "body" ).click(function( event ) {
              if (event.target.id == "successBut") {
                  var texts = $(event.target).parent().parent().parent().parent().parent().find("#approval");
                  $(event.target).parent().find("#failBut").removeClass();
                  event.target.className = '';
                  if (event.target.value == "ApprovedFinalEX") {
                      $(event.target).addClass("btn btn-success approvalSuccessButton hvr-radial-out-green");
                      $(event.target).parent().find("#failBut").addClass("btn btn-default hvr-radial-out-red");
                      tab = $(event.target).parent().parent().parent().parent().parent().parent();
                      $(tab).find("#progressbartext").text("Approved");
                      $(tab).find("#progressbar").removeClass("progress-bar-danger");
                      $(tab).find("#progressbar").removeClass("progress-bar-info");
                      $(tab).find("#progressbar").removeClass("progress-bar-warning");
                      $(tab).find("#progressbar").removeClass("progress-bar-none");
                      $(tab).find("#progressbar").removeClass("progress-bar-success");
                      $(tab).find("#progressbar").addClass("progress-bar-success1");
                  } else {
                      $(event.target).addClass("btn btn-info glyphicon glyphicon-ok approvalSuccessButton");
                      $(event.target).parent().find("#failBut").addClass("btn btn-default glyphicon glyphicon-remove");
                  }
                  if (texts != "Approved" && text != "Unapproved (Final)") {
                      texts.text("Reviewed");
                      texts.css("color","#5bc0de");
                  }
              }
              else if (event.target.id == "failBut") {
                  var texts = $(event.target).parent().parent().parent().parent().parent().find("#approval");
                  var otherchild = $(event.target).parent().find("#successBut");
                  otherchild.removeClass();
                  event.target.className = '';
                  if (event.target.value == "UnapprovedFinalEX") {
                      otherchild.addClass("btn btn-default  approvalSuccessButton hvr-radial-out-green");
                      $(event.target).addClass("btn btn-danger hvr-radial-out-red");
                      tab = $(event.target).parent().parent().parent().parent().parent().parent();
                      $(tab).find("#progressbartext").text("Unapproved (Final)");
                      $(tab).find("#progressbar").removeClass("progress-bar-success1");
                      $(tab).find("#progressbar").removeClass("progress-bar-info");
                      $(tab).find("#progressbar").removeClass("progress-bar-warning");
                      $(tab).find("#progressbar").removeClass("progress-bar-none");
                      $(tab).find("#progressbar").removeClass("progress-bar-success");
                      $(tab).find("#progressbar").addClass("progress-bar-danger");
                  } else {
                      otherchild.addClass("btn btn-default glyphicon glyphicon-ok approvalSuccessButton");
                      $(event.target).addClass("btn btn-danger glyphicon glyphicon-remove");
                  }
                  if (texts != "Approved" && text != "Unapproved (Final)") {
                      texts.text("Unapproved");
                      texts.css("color","#cc0a0a");
                  }
              }

              cu = $(event.target).parent().parent().parent().parent().parent().data("cu");
              var hasUnapproved = false;

              if (frontTableClicked.find("#progressbartext").text() != "Approved" && frontTableClicked.find("#progressbartext").text() != "Unapproved (Final)") {
                var reviewCheck = true;
                $(".expenseEntry").each(function() {
                    if ($(this).css("display") != "none") {
                        successButton = $(this).find("#successBut");
                        if (successButton.hasClass("btn-info") == false) {
                            reviewCheck = false;
                        }
                    }
                });
                if (reviewCheck == true) {
                    tab = frontTableClicked;
                    $(tab).find("#progressbartext").text("Reviewed");
                    $(tab).find("#progressbar").removeClass("progress-bar-danger");
                    $(tab).find("#progressbar").removeClass("progress-bar-success1");
                    $(tab).find("#progressbar").removeClass("progress-bar-warning");
                    $(tab).find("#progressbar").removeClass("progress-bar-none");
                    $(tab).find("#progressbar").removeClass("progress-bar-success");
                    $(tab).find("#progressbar").addClass("progress-bar-info");
                } else {
                    tab = frontTableClicked;
                    $(tab).find("#progressbartext").text("Unapproved");
                    $(tab).find("#progressbar").removeClass("progress-bar-success1");
                    $(tab).find("#progressbar").removeClass("progress-bar-info");
                    $(tab).find("#progressbar").removeClass("progress-bar-warning");
                    $(tab).find("#progressbar").removeClass("progress-bar-none");
                    $(tab).find("#progressbar").removeClass("progress-bar-success");
                    $(tab).find("#progressbar").addClass("progress-bar-danger");
                }
              }
              passToken = false;
              $(frontTableClicked).find(".manySubmitButtons").each(function() {
                 if ($(this).css("display") != "none") {
                     console.log(3);
                     if ($(this).find("#successBut").hasClass("btn-warning") == true && $(this).find("#failBut").hasClass("btn-warning") == true) {
                         $(this).css("display","none");
                         passToken = true;
                     }
                 }
              });
              if (passToken == false) {
                  showFinalButtons();
              }
          });

          dateRange();

      });

      // DOCUMENT READY END  //
      // ############## //


      function noExpensesCheck() {
          var tablecount = 0;
          var hiddencount = 0;
          $("#tableholder").find('tr').each(function() {
              tablecount = tablecount + 1;
              if ($(this).css("display") == "none") {
                  hiddencount = hiddencount +1;
              }
          });

          if ($("#noExpense").css("display") != "none") {
              hiddencount = hiddencount +1;
          }

          if ( tablecount == hiddencount ) {
              $("#noExpense").css("display","");
              $("#noExpense").parents().closest(".expenseTab").find("#approvalStatus").text("Not Created");
          } else {
              $("#noExpense").css("display","none");
          }
      }

      var approvalStatus;
      $(function() {
          $('.selectpicker').selectpicker();



          $(document).on('show.bs.modal', '.modal', function (event) {
              var zIndex = 1040 + (10 * $('.modal:visible').length);
              $(this).css('z-index', zIndex);
              setTimeout(function() {
                  $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
              }, 0);
          });

      });

      var selectedName;
      function dateRange() {
          var monthNames = ["January", "February", "March", "April", "May", "June",
              "July", "August", "September", "October", "November", "December"
          ];
          curr = $('#datepicker').datepicker('getDate');
          first = curr.getDate() - curr.getDay();
          firstday = new Date(curr.setDate(first));
          second = curr.getDate() +1;
          secondday = new Date(curr.setDate(second));
          third = curr.getDate() + 1;
          thirdday = new Date(curr.setDate(third));
          fourth = curr.getDate() + 1;
          fourthday = new Date(curr.setDate(fourth));
          fifth = curr.getDate() + 1;
          fifthday = new Date(curr.setDate(fifth));
          sixth = curr.getDate() + 1;
          sixthday = new Date(curr.setDate(sixth));
          last = curr.getDate() + 1;
          lastday = new Date(curr.setDate(last));

          $('#dateTitle').text( (monthNames[firstday.getMonth()] ) + ' ' + firstday.getDate() + ', ' +  firstday.getFullYear() + " - " + (monthNames[lastday.getMonth()] ) + ' ' + lastday.getDate() + ', ' +  lastday.getFullYear() );
          $('#Date1').text("Sun " + firstday.getDate() );
          $('#Date2').text("Mon " + secondday.getDate() );
          $('#Date3').text("Tue " + thirdday.getDate() );
          $('#Date4').text("Wed " + fourthday.getDate() );
          $('#Date5').text("Thu " + fifthday.getDate() );
          $('#Date6').text("Fri " + sixthday.getDate() );
          $('#Date7').text("Sat " + lastday.getDate() );


          $('#datePicked').val($('#datepicker').datepicker('getDate'));



          var CUListE = [], dateListE = [], submitListE = [], nameListE = [], approvalFinalE = [];
          <% @expenses.each do |p| %>
            CUListE.push("<%= p.credit_union %>");
            dateListE.push("<%= p.date_activity %>");
            submitListE.push("<%= p.submitted %>");
            nameListE.push("<%= p.user.first_name %> <%= p.user.last_name %>");
            approvalFinalE.push("<%= p.approval_final %>");
          <% end %>


          //Changes submit status
          $(".frontTable").each(function () {
              var name = $(this).attr("id");
              for (var z = 0; z < nameListE.length; z++) {
                  if (nameListE[z] == name && moment(dateListE[z]) > firstday && moment(dateListE[z]) < lastday) {
                      if (submitListE[z] == "") {
                          $(this).find("#approvalCover").text("Not Submitted");
                          break;
                      } else {
                          $(this).find("#approvalCover").text(submitListE[z]);
                          break;
                      }
                  } else {
                      $(this).find("#approvalCover").text("Not Submitted");
                  }
              }

              showFinalButtons();

              var approvalStatus = "None";
              $(this).find(".manySubmitButtons").each(function() {
                  if ($(this).css("display") != "none") {
                      if ($(this).find("#successBut").hasClass("btn-warning") == true && $(this).find("#failBut").hasClass("btn-warning") == true) {
                          approvalStatus = "Reviewed";
                      }
                      if ($(this).find("#successBut").hasClass("btn-success") == true) {
                          approvalStatus = "Approved";
                      }
                      if ($(this).find("#failBut").hasClass("btn-danger") == true) {
                          approvalStatus = "Unapproved";
                      }
                  }
              });

              if ($(this).find("#approvalCover").text() == "Not Submitted") {
                  $(this).find("#progressbartext").text("Not Submitted");
                  $(this).find("#progressbar").removeClass("progress-bar-success1");
                  $(this).find("#progressbar").removeClass("progress-bar-success");
                  $(this).find("#progressbar").removeClass("progress-bar-info");
                  $(this).find("#progressbar").removeClass("progress-bar-warning");
                  $(this).find("#progressbar").removeClass("progress-bar-danger");
                  $(this).find("#progressbar").addClass("progress-bar-none");
              }

              if ($(this).find("#approvalCover").text() == "Submitted") {
                  $(this).find("#progressbartext").text("Pending");
                  $(this).find("#progressbar").removeClass("progress-bar-success1");
                  $(this).find("#progressbar").removeClass("progress-bar-success");
                  $(this).find("#progressbar").removeClass("progress-bar-danger");
                  $(this).find("#progressbar").removeClass("progress-bar-info");
                  $(this).find("#progressbar").removeClass("progress-bar-none");
                  $(this).find("#progressbar").addClass("progress-bar-warning");
              }
                if (approvalStatus == "Reviewed") {
                    $(this).find("#progressbartext").text("Reviewed");
                    $(this).find("#progressbar").removeClass("progress-bar-success1");
                    $(this).find("#progressbar").removeClass("progress-bar-success");
                    $(this).find("#progressbar").removeClass("progress-bar-danger");
                    $(this).find("#progressbar").removeClass("progress-bar-warning");
                    $(this).find("#progressbar").removeClass("progress-bar-none");
                    $(this).find("#progressbar").addClass("progress-bar-info");
                }

                if (approvalStatus == "Unapproved") {
                    $(this).find("#progressbartext").text("Unapproved (Final)");
                    $(this).find("#progressbar").removeClass("progress-bar-success1");
                    $(this).find("#progressbar").removeClass("progress-bar-success");
                    $(this).find("#progressbar").removeClass("progress-bar-info");
                    $(this).find("#progressbar").removeClass("progress-bar-warning");
                    $(this).find("#progressbar").removeClass("progress-bar-none");
                    $(this).find("#progressbar").addClass("progress-bar-danger");
                }

              if (approvalStatus == "Approved") {
                  $(this).find("#progressbartext").text("Approved");
                  $(this).find("#progressbar").removeClass("progress-bar-success");
                  $(this).find("#progressbar").removeClass("progress-bar-danger");
                  $(this).find("#progressbar").removeClass("progress-bar-info");
                  $(this).find("#progressbar").removeClass("progress-bar-warning");
                  $(this).find("#progressbar").removeClass("progress-bar-none");
                  $(this).find("#progressbar").addClass("progress-bar-success1");
              }
          });


      }

      function showFinalButtons() {
          nameArray = [];
          $(".manySubmitButtons").each(function() {
              var butDate = moment($(this).data("date"));
              var butName = $(this).data("extra");
              $(this).css("display","none");
              if (nameArray.indexOf(butName) != -1) { return true;}
              if (butDate > firstday && butDate < lastday && butName == $(this).parent().parent().parent().attr("id") && $(this).parent().parent().parent().find("#approvalCover").text() == "Submitted" ) {

                      $(this).css("display","inherit");
                      nameArray.push(butName);

              }
          });
      }

      var curr, first, second, third, fourth, fifth, sixth, last, firstday, lastday, secondday, thirdday, fourthday, fifthday, sixthday;
      $(document).on('change', '#datepicker', function() {

          $("#expenseWrap").fadeOut();
          $("#wholeWrapper").css("display","none");
          $("#expenseWrap").slideDown();
          setTimeout(dateRange,400);

          $("#expenseWrap").fadeIn();

          //Saves date local variable
          sessionStorage.datePicked = $('#datepicker').datepicker('getDate');


      });


      $(".dropdown-menu li a").click(function(){
          $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
          $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
      });

      var sum;
      $(document).on('change', '.numb', function() {
          sum = 0;
          $('.numb').each(function () {
              sum = sum + Number($(this).val());
          });
          $('#totalNew').val(sum);
      });

      function validate(evt) {
          var theEvent = evt || window.event;
          var key = theEvent.keyCode || theEvent.which;
          key = String.fromCharCode( key );
          var regex = /[0-9]|\./;
          if( !regex.test(key) ) {
              theEvent.returnValue = false;
              if(theEvent.preventDefault) theEvent.preventDefault();
          }
      }

      $(document).ready(function() {
          var panels = $('.user-infos');
          var panelsButton = $('.dropdown-user');


          //Click dropdown
          panelsButton.click(function() {
              //get data-for attribute
              var dataFor = $(this).attr('data-for');
              var idFor = $(dataFor);

              //current button
              var currentButton = $(this);
              idFor.slideToggle(400, function() {
                  //Completed slidetoggle
                  if(idFor.is(':visible'))
                  {
                      currentButton.removeClass("hvr-icon-hang");
                      currentButton.addClass("hvr-icon-bob");
                  }
                  else
                  {
                      currentButton.removeClass("hvr-icon-bob");
                      currentButton.addClass("hvr-icon-hang");
                  }
              })
          });

          $('[data-toggle="tooltip"]').tooltip();



      });


  </script>
</head>

<div id="shadowOnOffs" style="background-color:#eaf1fc;">


  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/timesheet" >Timesheet</a></li>
          <% if current_user.admin == true %>
              <li><a href="/approvals" >Timesheet Approvals</a></li>
          <% end %>
          <li><a href="/expenses" >Expenses</a></li>
          <% if current_user.admin == true %>
              <li><a href="/expensesapprovals" >Expenses Approvals</a></li>
              <li><a href="/exports" >Exports</a></li>
          <% end %>
          <li><%= link_to "Settings", edit_user_registration_path(@user) %></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :get) %></li>
        </ul>

      </div>
    </div>
  </nav>



  <div class="container-fluid" >
    <div >
      <div class="col-sm-3 col-md-2 sidebar" id="sidebarNav">
        <div style="line-height:75%;"><br></div>
        <h3 style="text-align: center;">Expense Approval</h3>
        <div style="" id="datepicker" datePickerTag="first"></div>
        <br>
        <ul class="nav nav-sidebar">
          <li><a class="hvr-sweep-to-right" href="/timesheets" >Timesheet<span class="glyphicon glyphicon-time pull-right"></span></a></li>
          <% if current_user.admin == true %>
              <li ><a class="hvr-sweep-to-right" href="/approvals">Timesheet Approvals<span class="sr-only">(current)</span><span class="glyphicon glyphicon-ok-circle pull-right"></span></a></li>
          <% end %>
          <li ><a class="hvr-sweep-to-right" href="/expenses">Expenses<span class="glyphicon glyphicon-usd pull-right"></span></a></li>
          <% if current_user.admin == true %>
              <li class="active"><a class="hvr-sweep-to-right" href="/expensesapprovals">Expenses Approvals<span class="glyphicon glyphicon-ok pull-right"></span></a></li>
              <li><a class="hvr-sweep-to-right" href="/exports">Exports<span class="glyphicon glyphicon-floppy-save pull-right"></span></a></li>
              <li><a class="hvr-sweep-to-right" href="/employees">Employees<span class="glyphicon glyphicon-user pull-right"></span></a></li>
          <% end %>
        </ul>
        <!-- <ul class="nav nav-sidebar">
           <li><a href="">Nav item</a></li>
           <li><a href="">Nav item again</a></li>
           <li><a href="">One more nav</a></li>
           <li><a href="">Another nav item</a></li>
           <li><a href="">More navigation</a></li>
         </ul>
         <ul class="nav nav-sidebar">
           <li><a href="">Nav item again</a></li>
           <li><a href="">One more nav</a></li>
           <li><a href="">Another nav item</a></li>
         </ul> -->
      </div>

      <div class="container" id="expenseWrap" style="">
        <div class="row">
          <%= render "expenseapprovalcover" %>
        </div>
      </div>

      <div class="container" id="expenseWrap" >
        <div class="row" id="wholeWrapper" style="display:none;">

          <section class="content" style="background-color:#eaf1fc;">
            <h1 style="text-align:center;" class="marginBumpExpense">Review Expenses</h1>

            <div class="marginBumpExpense">
              <div class="panel panel-default"  id="goBlack" style="width:1500px;">
                <div class="panel-body">
                  <h2 class="page-header" style="margin:1px;text-align:center;" id="dateTitle"></h2>


                </div>

                <div style="line-height:75%;"><br></div>


                <div class="container" style="width:100%;">
                  <table class="table table-striped table-bordered table-hover" style="font-size:12px;">
                    <thead>
                    <tr style="padding: 8px 8px 8px 0px;">
                      <th class="reviewColumn">Reviewed?</th>
                      <th style="width:80px;">Date</th>
                      <th>Credit Union</th>
                      <th>Job</th>
                      <th>Miles Traveled</th>
                      <th>Mileage Expense</th>
                      <th>Air Travel, Gas, Bags</th>
                      <th>Taxi, Parking, Tolls</th>
                      <th>Car Rental</th>
                      <th>Meals</th>
                      <th>Lodging</th>
                      <th>Entertainment</th>
                      <th>Other</th>
                      <th>Explain Other</th>
                      <th>Reimbursement Total</th>
                      <th>Image Upload</th>

                    </tr>
                    </thead>
                    <tbody id="tableholder">
                    <% @expenses.each do |p| %>
                        <tr id="row_<%= p.id %>" class="expenseEntry">
                          <td class="reviewColumn">
                            <div class="ckbox">
                              <div class="approvalButtons"  style="width:80px;" ><%= form_for(p, remote: true, :url => {:action => 'update', :id => p.id}) do |f| %><%= f.text_field :approval, :value => p.approval,  :style => "display:none;", :id => "ApprovalBlob" %><%= button_tag "", type: 'submit', class: "approvalSuccessButton", id:"successBut", name: "subaction", value: "ApprovedEX", style: "" %><%= button_tag "", type: 'submit', class: "btn btn-default glyphicon glyphicon-remove", id: "failBut", name: "subaction", value: "UnapprovedEX", style: "" %></div>
                                <% end %>
                                </div>
                          </td>
                          <td style="display:none;"><span class="nameBlob"><%= p.user.first_name %> <%= p.user.last_name %></span></td>
                          <td><span class="dateBlob"><%= p.date_activity %> </span></td>
                          <td><%= p.credit_union %> </td>
                          <td><%= p.job %> </td>

                          <td class="dropdown">
                            <span class="Entry"><%= p.miles_traveled %></span>
                          </td>
                          <td class="dropdown">
                            <p class="dollarCheck"><span class="sunEntry"><%= p.mileage_expense %></span></p>
                          </td>
                          <td class="dropdown">
                            <span class="dollarCheck"><span class="monEntry"><%= p.air_travel %></span></span>
                          </td>
                          <td class="dropdown">
                            <span class="dollarCheck"><span class="tueEntry"><%= p.taxi_parking %></span></span>
                          </td>
                          <td class="dropdown">
                            <span class="dollarCheck"><span class="wedEntry"><%= p.car_rental %></span></span>
                          </td>
                          <td class="dropdown">
                            <span class="dollarCheck"><span class="thuEntry"><%= p.meal_total %></span></span>
                          </td>
                          <td class="dropdown">
                            <span class="dollarCheck"><span class="friEntry"><%= p.lodging %></span></span>
                          </td>
                          <td class="dropdown">
                            <span class="dollarCheck"><span class="satEntry"><%= p.entertainment %></span></span>
                          </td>
                          <td class="dropdown">
                            <span class="dollarCheck"><span class="otherEntry"><%= p.other %></span></span>
                          </td>
                          <td class="dropdown">
                            <span class="Entry"><%= p.notes %></span>
                          </td>

                          <td>
                            $<span class="totalEntry"><%= p.total %></span>
                          </td>
                          <td>
                            <% if p.images.any? %>
                                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#<%= p.id %>" style="margin-left:15px;">Files</button>
                            <% end %>
                          </td>
                        </tr>
                        </tbody>


                        <!-- Modal -->
                        <div id="<%= p.id %>" class="modal fade" role="dialog">
                          <div class="modal-dialog">

                            <!-- Modal content-->
                            <div class="modal-content">
                              <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                <h4 class="modal-title">Receipts/Files from <%= p.date_activity %></h4>
                              </div>
                              <div class="modal-body">
                                <div id="gal1">

                                  <% p.images.each do |i| %>
                                      <% if i.file.extension.downcase == "pdf" %>
                                          <div>
                                            <img href="<%= i.url %>" download="<%= i.filename %>" src="http://gundemmedyam.com/img/pdf.png" style="width:100px;">
                                            <br>
                                            <a href="<%= i.url %>" download="<%= i.filename %>">Download PDF</a>
                                          </div>
                                      <% else %>
                                          <a href="<%= i.large.url %>" rel="noopener noreferrer data-image="<%= i.thumb.url %>" data-zoom-image="<%= i.large.url %>" target="_blank">
                                          <img id="img_01" src="<%= i.thumb.url %>" />
                                          </a>
                                      <% end %>
                                  <% end %>
                                </div>
                              </div>
                              <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                              </div>
                            </div>

                          </div>
                        </div>
<% end %>
                 </table>
                  <button type="button" id="clearMonth" class="btn btn-default btn-filter" style="margin:2px;margin-bottom:15px;">Return to Main</button>
                </div>


              </div>
            </div>
                        </section>
        </div>


      </div>
    </div>
  </div>
                        </div>



