<head>

  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  <script>

      function calendarHighlight() {
          //Init Datepicker and add Highlights if timesheets aren't finished

          var counter = 0;
          var firstDay, endDay;
          var eventDates = [], eventDatesGood = [];
          $('.submitButtonWrap').each(function () {
              firstDay = moment($(this).find("#submitDate").text()).startOf("week");
              if ($(this).find("#submitStatus").text() == "Submitted") {
                  eventDatesGood.push(firstDay);
                  eventDatesGood.push(moment(firstDay).add(1,'days'));
                  eventDatesGood.push(moment(firstDay).add(2,'days'));
                  eventDatesGood.push(moment(firstDay).add(3,'days'));
                  eventDatesGood.push(moment(firstDay).add(4,'days'));
                  eventDatesGood.push(moment(firstDay).add(5,'days'));
                  eventDatesGood.push(moment(firstDay).add(6,'days'));
              } else {
                  eventDates.push(firstDay);
                  eventDates.push(moment(firstDay).add(1,'days'));
                  eventDates.push(moment(firstDay).add(2,'days'));
                  eventDates.push(moment(firstDay).add(3,'days'));
                  eventDates.push(moment(firstDay).add(4,'days'));
                  eventDates.push(moment(firstDay).add(5,'days'));
                  eventDates.push(moment(firstDay).add(6,'days'));
              }
          });

          var datesave = $('#datepicker').datepicker('getDate');
          $("#datepicker").datepicker('destroy');
          $("#datepicker").datepicker({
              beforeShowDay: function (date) {
                  for (var i = 0; i < eventDates.length; i++) {
                      if (new Date(eventDates[i]).toString() == date.toString()) {
                          return [true, 'css-class-to-highlight-declined', 'tooltip text'];
                      }
                  }
                  for (var i = 0; i < eventDatesGood.length; i++) {
                      if (new Date(eventDatesGood[i]).toString() == date.toString()) {
                          return [true, 'css-class-to-highlight-approved', 'tooltip text'];
                      }
                  }
                  return [true, ''];
              }
          });
          $("#datepicker").datepicker('setDate',datesave);
      }


      function isNumber(evt) {
          var theEvent = evt || window.event;
          var key = theEvent.keyCode || theEvent.which;
          key = String.fromCharCode(key);
          if (key.length == 0) return;
          var regex = /^[0-9.,\b]+$/;
          if (!regex.test(key)) {
              theEvent.returnValue = false;
              if (theEvent.preventDefault) theEvent.preventDefault();
          }
      }

      function calculateMilage() {
          var amount = $("#mileage").val();
          $("#amountInput").val((amount * 0.535).toFixed(2));
      }


      // DOCUMENT READY START //

      var CUlist = [], dateList = [], sunList = [], monList = [], tueList = [], wedList = [], thuList = [], friList = [], satList = [];
      $(document).ready(function() {

          if ( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
              $('#sidebarNav').find('[datePickerTag="first"]').removeAttr("id");
          }
          else {
              $('#sidebarNav').find('[datePickerTag="first"]').attr("id","datepicker");
              $('.mobileDateCheck').find('[datePickerTag="last"]').css("display","none");
          }

          var monthNames = ["January", "February", "March", "April", "May", "June",
              "July", "August", "September", "October", "November", "December"
          ];
          var nameArray = [];

          calendarHighlight();

          if (sessionStorage.refreshCount == undefined) {
              $("#datepicker").datepicker().datepicker("setDate", new Date());
              sessionStorage.refreshCount = 1;
          } else {
              var date = sessionStorage.datePicked;
              date = new Date(date);
              date.setDate(date.getDate());

              $("#datepicker").datepicker().datepicker("setDate", date );
          }
          sessionStorage.refreshCount = sessionStorage.refreshCount + 1;
          //new Date("10/10/2016")

          dateRange();

          $('.expenseEntry').each(function () {
              if (moment($(this).find('.dateBlob').text()) <= lastday && moment($(this).find('.dateBlob').text()) >= firstday) {
                  $(this).css("display","");
              } else {
                  $(this).css("display","none");
                  // alert($(this).children('.dateBlob').text() + "      " + $.datepicker.formatDate("yy-mm-dd", curr) );
              }

              //find names
              var name = $(this).find('#names').text();
              if (jQuery.inArray(name,nameArray) == -1 ) {
                  nameArray.push(name);
                  $('#UserSearch').append('<option data-icon="glyphicon-user">' + name + '</option>');
                  $('.selectpicker').selectpicker('refresh');
              } else {

              }
          });

          //Saves date local variable
          sessionStorage.datePicked = $('#datepicker').datepicker('getDate');

          $(".approvalclass").each(function() {
              var approval = $(this).clone().children().remove().end().text();
              if (approval == "Approved") {
                  $(this).css("color","");
              }
              if (approval == "Pending") {
                  $(this).css("color","#ec971f");
              }
              if (approval == "Unapproved") {
                  $(this).css("color","#cc0a0a");
              }
          });


          //initialize selector
          $('#selectizeInput').selectize({
              create: true,
              placeholder: 'Select a CU or Type Your Own',
          });



      });

      // DOCUMENT READY END  //
      // ############## //


      var approvalStatus;
      $(function() {
          $('.selectpicker').selectpicker();


          $("#Approved").click(function(){
              approvalStatus = "Approved";
              $(".approvalclass").each(function() {
                  var approval = $(this).clone().children().remove().end().text();
                  var row = "#row_" + $(this).find("p").text();
                  if ($(row).css("opacity") == "1"){
                      if (approval == approvalStatus) {
                          $(row).css("display","");
                      } else {
                          $(row).css("display","none");
                      }
                  }
              });
          });
          $("#Pending").click(function(){
              approvalStatus = "Pending";
              $(".approvalclass").each(function() {
                  var approval = $(this).clone().children().remove().end().text();
                  var row = "#row_" + $(this).find("p").text();
                  if ($(row).css("opacity") == "1"){
                      if (approval == approvalStatus) {
                          $(row).css("display","");
                      } else {
                          $(row).css("display","none");
                      }
                  }
              });
          });
          $("#Unapproved").click(function(){
              approvalStatus = "Unapproved";
              $(".approvalclass").each(function() {
                  var approval = $(this).clone().children().remove().end().text();
                  var row = "#row_" + $(this).find("p").text();
                  if ($(row).css("opacity") == "1"){
                      if (approval == approvalStatus) {
                          $(row).css("display","");
                      } else {
                          $(row).css("display","none");
                      }
                  }
              });
          });

          $(document).on('show.bs.modal', '.modal', function (event) {
              var zIndex = 1040 + (10 * $('.modal:visible').length);
              $(this).css('z-index', zIndex);
              setTimeout(function() {
                  $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
              }, 0);
          });


          $('input[id="expenseDate"]').daterangepicker({
              singleDatePicker: true,
              autoclose: true,
              showDropdowns: true,
              locale: {
                  format: 'YYYY-MM-DD'
              },
          });
      });

      function dateRange() {
          var monthNames = ["January", "February", "March", "April", "May", "June",
              "July", "August", "September", "October", "November", "December"
          ];
          curr = $('#datepicker').datepicker('getDate');
          first = curr.getDate() - curr.getDay();
          firstday = new Date(curr.setDate(first));
          second = curr.getDate() +1;
          secondday = new Date(curr.setDate(second));
          third = curr.getDate() + 1;
          thirdday = new Date(curr.setDate(third));
          fourth = curr.getDate() + 1;
          fourthday = new Date(curr.setDate(fourth));
          fifth = curr.getDate() + 1;
          fifthday = new Date(curr.setDate(fifth));
          sixth = curr.getDate() + 1;
          sixthday = new Date(curr.setDate(sixth));
          last = curr.getDate() + 1;
          lastday = new Date(curr.setDate(last));

          $('#dateTitle').text( (monthNames[firstday.getMonth()] ) + ' ' + firstday.getDate() + ', ' +  firstday.getFullYear() + " - " + (monthNames[lastday.getMonth()] ) + ' ' + lastday.getDate() + ', ' +  lastday.getFullYear() );
          $('#Date1').text("Sun " + firstday.getDate() );
          $('#Date2').text("Mon " + secondday.getDate() );
          $('#Date3').text("Tue " + thirdday.getDate() );
          $('#Date4').text("Wed " + fourthday.getDate() );
          $('#Date5').text("Thu " + fifthday.getDate() );
          $('#Date6').text("Fri " + sixthday.getDate() );
          $('#Date7').text("Sat " + lastday.getDate() );


          $('#datePicked').val($('#datepicker').datepicker('getDate'));

          var heights = 0;
          $('.expenseEntry').each(function () {
              //alert($(this).find('.dateBlob').text());
              if (moment($(this).find('.dateBlob').text()) <= lastday && moment($(this).find('.dateBlob').text()) >= firstday) {
                  $(this).css("display", "");

              } else {
                  $(this).css("display", "none");
                  // alert($(this).children('.dateBlob').text() + "      " + $.datepicker.formatDate("yy-mm-dd", curr) );
              }

          });


          $(".expenseTab").each(function() {
              var CU = $(this).data("role");

              //Individual progress bars
              var approval = $(this).find("#approvalStatus").text();
              if (approval == "Denied") {
                  $(this).find(".pb").addClass("progress-bar-danger");
                  $(this).find(".pb").css("width","100%");
                  $(this).find(".one").addClass("danger-color");
                  $(this).find(".two").addClass("danger-color");
                  $(this).find(".three").addClass("danger-color");
                  $(this).find(".four").addClass("danger-color");
              }
              if (approval == "Pending") {
                  $(this).find(".pb").addClass("progress-bar-warning");
                  $(this).find(".pb").css("width","34%");
                  $(this).find(".one").addClass("warning-color");
                  $(this).find(".two").addClass("warning-color");
                  $(this).find(".three").addClass("no-color");
                  $(this).find(".four").addClass("no-color");
              }
              if (approval == "Reviewed") {
                  $(this).find(".pb").addClass("progress-bar-info");
                  $(this).find(".pb").css("width","67%");
                  $(this).find(".one").addClass("info-color");
                  $(this).find(".two").addClass("info-color");
                  $(this).find(".three").addClass("info-color");
                  $(this).find(".four").addClass("no-color");
              }
              if (approval == "Not Created") {
                  $(this).find(".pb").addClass("progress-bar-info");
                  $(this).find(".pb").css("width","0%");
                  $(this).find(".one").addClass("no-color");
                  $(this).find(".two").addClass("no-color");
                  $(this).find(".three").addClass("no-color");
                  $(this).find(".four").addClass("no-color");
              }
              if (approval == "Approved") {
                  $(this).find(".pb").addClass("progress-bar-success");
                  $(this).find(".pb").css("width","100%");
                  $(this).find(".one").addClass("success-color");
                  $(this).find(".two").addClass("success-color");
                  $(this).find(".three").addClass("success-color");
                  $(this).find(".four").addClass("success-color");
              }
          });


          var counter = 0;
          $(".submitButton").each(function() {
              var dater = $(this).parent().parent().find("#submitDate").text();
              console.log(dater);
              var submitStatus = $(this).parent().parent().find("#submitStatus").text();
              //alert(dater + "...." + lastday + "...." + firstday);
              if (moment(dater) <= lastday && moment(dater) >= firstday && counter == 0) {
                  $(this).css("display","");
                  counter = 1;
                  if (submitStatus == "Not Submitted" || submitStatus == "") {
                      $(this).removeClass("btn-danger");
                      $(this).addClass("btn-success");
                      $(this).attr("value","SubmittedEX");
                      $(this).text("Submit for Approval?");
                      $("#pageGapDash").removeClass("disabledbutton");
                      $("#allExpenses").removeClass("disabledbutton");
                      $('.user-infos').hide();
                  } else {
                      $(this).removeClass("btn-success");
                      $(this).addClass("btn-danger");
                      $(this).attr("value","Not SubmittedEX");
                      $(this).text("Unsubmit for Approval?");
                      $("#pageGapDash").addClass("disabledbutton");
                      $("#allExpenses").addClass("disabledbutton");
                      $('.user-infos').show();
                  }
              } else {
                  $(this).css("display","none");
              }
          });

          startDate = moment(firstday).format("YYYY-MM-DD");
          endDate = moment(lastday).format("YYYY-MM-DD");
          $('#printWeek').attr('href',"/exportsWeekExpenses.xlsx?endDate=" + endDate + "&startDate=" + startDate + "&userID=" + <%= current_user.id %>);

          $(".dollarCheck").each(function() {
             if ($(this).children('span').text() == "") {

             } else {
                 $(this).html("<span class='.dollarCheck'>$<span class='" + $(this).children('span').attr('class') + "'>" + $(this).children('span').text() + "</span");
             }
          });

          CUList();
          totalColumns();

      }

      var CUArray = [], CUArrayTime = [], CUArrayJob = [];
      var javascript_side_json = <%= raw @CUFinalList %>;

      <% @pages.each do |p| %>
        CUArray.push("<%= p.credit_union %>");
        CUArrayTime.push("<%= p.date_of_time %>");
        CUArrayJob.push("<%= p.activity %>");
      <% end %>

      var completed_list = {
          'text': 'All CUs',
          'children': [

          ]
      };

      function CUList() {
          var unique = [];

          counter = 0;
          for (var b = 0; b < CUArray.length; b++) {
              console.log(CUArray[b]);
              console.log(CUArrayTime[b]);
              if (unique.indexOf(CUArray[b]) != -1) { continue; }
              if (moment(firstday).startOf('day') < moment(CUArrayTime[b]) && moment(lastday).endOf('day') > moment(CUArrayTime[b]) ) {
                  unique[counter] = CUArray[b];
                  counter++;
              }
          }

          var new_list = {
              'text': 'CUs from Timesheet',
              'children': [

              ]
          };

          for (var i = 0; i < unique.length; i++) {
              new_list['children'].push({'id': i, 'text': unique[i]});
          }
          for (var z = 0; z < javascript_side_json.length; z++) {
              completed_list['children'].push({'id': javascript_side_json[z], 'text': javascript_side_json[z] });
          }


          $('#CUList').empty().trigger('change');
          $('#CUList').select2({
              data:[
                  new_list,
                  completed_list
              ],
          });
          checkCUJob();
      }

      function checkCUJob() {
        var selectedOption = $("#CUList option:selected").text();
        var time = moment(CUArrayTime[CUArray.indexOf(selectedOption)]);
        if (CUArray.indexOf(selectedOption) != -1 && time > moment(firstday).startOf('day') && time < moment(lastday).endOf('day') ) {
            $("#jobSelect").val(CUArrayJob[CUArray.indexOf(selectedOption)]);
            $('.selectpicker').selectpicker('refresh');
        }
      }

      $(document).on('change', '#CUList', function() {
         checkCUJob();
      });


      var curr, first, second, third, fourth, fifth, sixth, last, firstday, lastday, secondday, thirdday, fourthday, fifthday, sixthday;
      $(document).on('change', '#datepicker', function() {

          $("#dashContents").fadeOut();

          setTimeout(dateRange,400);

          $("#dashContents").fadeIn();

          //Saves date local variable
          sessionStorage.datePicked = $('#datepicker').datepicker('getDate');


      });


      $(".dropdown-menu li a").click(function(){
          $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
          $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
      });

      var sum;

      function numbTotal() {
          sum = 0;
          $('.numb').each(function () {
              if ($(this).hasClass('skip')) {

              } else {
                  sum = sum + Number($(this).val());
              }
          });
          $('#totalNew').val(sum);
      }
      $(document).on('change', '.numb', function() {
          numbTotal();
      });

      $(document).on('keyup', 'input.costInput',function () {
          total = 0;
          var totalString = [];
          $('.costInput').each(function () {
              total = total + Number($(this).val());
              totalString.push($(this).val());
          });
          $('#mealTotal').val(total);
          $("#meals").val(totalString);
          numbTotal();
      });

     $(document).on('keyup', 'input.restaurantInput',function () {
          var totalString = [];
          $(".restaurantInput").each(function() {
              totalString.push($(this).val());
          });
          $("#mealNames").val(totalString);
      });

      function validate(evt) {
          var theEvent = evt || window.event;
          var key = theEvent.keyCode || theEvent.which;
          key = String.fromCharCode( key );
          var regex = /[0-9]|\./;
          if( !regex.test(key) ) {
              theEvent.returnValue = false;
              if(theEvent.preventDefault) theEvent.preventDefault();
          }
      }

      function totalColumns() {
          var sunTotal,monTotal,tueTotal,wedTotal,thuTotal,friTotal,satTotal,otherTotal,totalTotal;
          sunTotal = 0.00, monTotal = 0.00, tueTotal = 0.00, wedTotal = 0.00, thuTotal = 0.00, friTotal = 0.00, satTotal = 0.00, otherTotal = 0.00,totalTotal = 0.00;


          $(".sunEntry").each(function () {
              if (parseFloat($(this).text()) != NaN && $(this).closest('tr').css("display") != "none") {
                  sunTotal += (parseFloat($(this).text()) || 0);
              }
          });
          $(".monEntry").each(function () {
              if (parseFloat($(this).text()) != NaN && $(this).closest('tr').css("display") != "none") {
                  monTotal += (parseFloat($(this).text()) || 0);
              }
          });
          $(".tueEntry").each(function () {
              if (parseFloat($(this).text()) != NaN && $(this).closest('tr').css("display") != "none") {
                  tueTotal += (parseFloat($(this).text())  || 0);
              }
          });
          $(".wedEntry").each(function () {
              if (parseFloat($(this).text()) != NaN && $(this).closest('tr').css("display") != "none") {
                  wedTotal += (parseFloat($(this).text()) || 0);
              }
          });
          $(".thuEntry").each(function () {
              if (parseFloat($(this).text()) != NaN && $(this).closest('tr').css("display") != "none") {
                  thuTotal += (parseFloat($(this).text())  || 0);
              }
          });
          $(".friEntry").each(function () {
              if (parseFloat($(this).text()) != NaN && $(this).closest('tr').css("display") != "none") {
                  friTotal += (parseFloat($(this).text())  || 0);
              }
          });
          $(".satEntry").each(function () {
              if (parseFloat($(this).text()) != NaN && $(this).closest('tr').css("display") != "none") {
                  satTotal += (parseFloat($(this).text()) || 0);
              }
          });
          $(".otherEntry").each(function () {
              if (parseFloat($(this).text()) != NaN && $(this).closest('tr').css("display") != "none") {
                  otherTotal += (parseFloat($(this).text()) || 0);
              }
          });
          $(".totalEntry").each(function () {
              if (parseFloat($(this).text()) != NaN && $(this).closest('tr').css("display") != "none") {
                  totalTotal += parseFloat($(this).text());
              }
          });
          $("#totalSun").text(sunTotal.toFixed(2));
          $("#totalMon").text(monTotal.toFixed(2));
          $("#totalTue").text(tueTotal.toFixed(2));
          $("#totalWed").text(wedTotal.toFixed(2));
          $("#totalThu").text(thuTotal.toFixed(2));
          $("#totalFri").text(friTotal.toFixed(2));
          $("#totalSat").text(satTotal.toFixed(2));
          $("#totalOther").text(otherTotal.toFixed(2));
          $("#totalTotal").text(totalTotal.toFixed(2));
      }


  </script>
  <style>
    input {display: block; padding: 0; margin: 0; border: 0; width: 100%;}
    td {margin: 0; padding: 0;}


    .disabledbutton {
      pointer-events: none;
      opacity: 0.4;
    }

    .css-class-to-highlight-approved a {
      background-color: #218212 !important;
      background-image :none !important;
      color: #efefef !important;
    }
    .css-class-to-highlight-pending a {
      background-color: #EC971F !important;
      background-image :none !important;
      color: #efefef !important;
    }
    .css-class-to-highlight-declined a {
      background-color: #910101 !important;
      background-image :none !important;
      color: #efefef !important;
    }

    .ui-datepicker-current-day a {
      background-color: #007fff !important;
      background-image :none !important;
      color: #efefef !important;
    }
    .select2-container--default .select2-results__option{
      font-size: x-small;
    }
    .input-w label, .input-w input {
      float: none; /* if you had floats before? otherwise inline-block will behave differently */
      display: inline-block;
      vertical-align: middle;
    }

  </style>
</head>

<div id="shadowOnOffs" >

  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/timesheet" >Timesheet</a></li>
          <% if current_user.admin == true %>
              <li><a href="/approvals" >Timesheet Approvals</a></li>
          <% end %>
          <li><a href="/expenses" >Expenses</a></li>
          <% if current_user.admin == true %>
              <li><a href="/expensesapprovals" >Expenses Approvals</a></li>
              <li><a href="/exports" >Exports</a></li>
          <% end %>
          <li><%= link_to "Settings", edit_user_registration_path(@user) %></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :get) %></li>
        </ul>

      </div>
    </div>
  </nav>



  <div class="container-fluid" >
    <div class="row">
      <div class="col-sm-3 col-md-2 sidebar" id="sidebarNav">
        <div style="line-height:75%;"><br></div>
        <h2 style="text-align: center;">Expenses</h2>
        <div style="" id="datepicker" datePickerTag="first"></div>
        <br>

        <ul class="nav nav-sidebar">
          <li><a class="hvr-sweep-to-right" href="/timesheet" >Timesheet<span class="glyphicon glyphicon-time pull-right"></span></a></li>
          <% if current_user.admin == true %>
              <li ><a class="hvr-sweep-to-right" href="/approvals">Timesheet Approvals<span class="sr-only">(current)</span><span class="glyphicon glyphicon-ok-circle pull-right"></span></a></li>
          <% end %>
          <li class="active"><a class="hvr-sweep-to-right" href="/expenses">Expenses<span class="glyphicon glyphicon-usd pull-right"></span></a></li>
          <% if current_user.admin == true %>
              <li><a class="hvr-sweep-to-right" href="/expensesapprovals">Expenses Approvals<span class="glyphicon glyphicon-ok pull-right"></span></a></li>
              <li><a class="hvr-sweep-to-right" href="/exports">Exports<span class="glyphicon glyphicon-floppy-save pull-right"></span></a></li>
              <li><a class="hvr-sweep-to-right" href="/exports">Employees<span class="glyphicon glyphicon-user pull-right"></span></a></li>
          <% end %>
        </ul>



      </div>





      <div id="dashContents" style="width:1850px;">
        <div id="textAboveTable">
          <h2 class="page-header" style="" id="dateTitle"></h2>

          <p style="left:310px;">Hit the checkmark to save a row of expenses. Hit the X button to delete a row.</p>
          <a id="printWeek" href=""><i class="glyphicon glyphicon-print"></i>Print Week Expenses</a>
          <% @expenses.each do |e| %>
              <div class="submitButtonWrap" style="">
                <p id="submitStatus" style="display:none;"><%= e.submitted %></p>
                <p id="submitDate" style="display:none;"><%= e.date_activity %></p>
                <%= form_for(e,  :url => {:action => 'update', :id => e.id}) do |f| %>
                    <%= button_tag "Submit for Approval?", type: 'submit', class: "submitButton btn btn3d", style: "display:none;",id:"submitButton", name: "subaction", value: "SubmittedEX" %>
                <% end %>
              </div>
          <% end %>
        <br>
          <!--<div datePickerTag="last" class="mobileDateCheck">
            <label id="labelforlast">Select Date: </label>
            <input style="" id="datepicker">
            <br>

          </div> -->

        </div>
        <br>
        <br>
        <%= form_for @new_expenses do |t| %>

            <h2 class="sub-header">&nbsp;</h2>

            <div class="table-responsive" id="pageGapDash" style="width:1800px;">

              <table class="table table-striped table-bordered table-hover" style="font-size:12px;">
                <thead>
                <tr style="padding: 8px 8px 8px 0px;">
                  <th></th>
                  <th style="width:80px;">Date</th>
                  <th>Credit Union</th>
                  <th>Job</th>
                  <th>Miles Traveled</th>
                  <th>Mileage Expense</th>
                  <th>Air Travel, Gas, Bags</th>
                  <th>Taxi, Parking, Tolls</th>
                  <th>Car Rental</th>
                  <th>Meals</th>
                  <th>Lodging</th>
                  <th>Entertainment</th>
                  <th>Other</th>
                  <th>Explain Other</th>
                  <th>Reimbursement Total</th>
                  <th>Image Upload</th>

                </tr>
                </thead>
                <tbody>
                <tr>

                  <td style="z-index:1000;" id="submitBut">
                    <%= button_tag "", type: 'submit', class: "btn btn-success glyphicon glyphicon-ok pull-right actualSubmitBut" %>
                  </td>

                  <td>
                    <%= t.text_field :date_activity, { :id => "expenseDate", :class => "form-control" ,:placeholder => "Date of Expense", :style => "vertical-align:center;height:100%;width:100px;" } %>

                  </td>

                  <td>
                    <%= t.select :credit_union, options_for_select("List"), {}, { :id => "CUList", :class => "creditUnionSelect" , 'data-width' => '200px', 'title' => 'Credit Union', 'data-live-search' => "true" } %>
                  </td>

                  <td>

                    <%= t.select :job, options_for_select([
                                                              "06-CU-10 IT Compliance Review",
                                                              "748 Annual Review",
                                                              "ACH Audit",
                                                              "ACH Risk Assessment",
                                                              "Administrative",
                                                              "ATM Safety Evaluation",
                                                              "Ballot Tabulation",
                                                              "Bank Reconciliation",
                                                              "BSA/CIP/OFAC Compliance Review",
                                                              "Call Report Preparation",
                                                              "Cash Counts",
                                                              "Custom IT Consulting",
                                                              "Cyber Security Assessment Toolkit",
                                                              "FTR Speaking Engagement",
                                                              "FTR Workshops",
                                                              "Holiday",
                                                              "Illness",
                                                              "Internal Audit",
                                                              "Loan Review",
                                                              "Member Account Verification",
                                                              "PCI PIN Security Compliance Review",
                                                              "Personal",
                                                              "Remote Systems Maintence",
                                                              "Risk Assessment & Policy Development",
                                                              "Special Services",
                                                              "Supervisory Committee Annual Review",
                                                              "TR-39 PIN Audit",
                                                              "Travel",
                                                              "Vacation",
                                                              "Vulnerability Assessment Training"]),
                                 {}, { :id => "jobSelect", :class => "selectpicker show-tick activitySelect" , 'data-width' => '150px', 'title' => 'Activity' } %>
                  </td>
                  <td >
                      <%= t.number_field :miles_traveled, { 'id' => "mileage", 'onkeyup' => "calculateMilage()", 'onkeypress' => 'validate(event)', :class => "form-control numb skip" , :style => "width:90px;" , 'value' => '0.00' , 'step' => '0.01', 'min' => '0' } %>
                  </td>
                  <td >
                    <%= t.number_field :mileage_expense, { 'id' => 'amountInput', 'onkeypress' => 'validate(event)', :class => "form-control numb" , :style => "width:90px;" , 'value' => '0.00' , 'step' => '0.01', 'min' => '0', 'onkeydown' => 'return false;' , :readonly => true } %>
                  </td>
                  <td>
                    <%= t.number_field :air_travel, { 'onkeypress' => 'validate(event)', :class => "form-control numb" , :style => "width:90px;" , 'value' => '0.00' , 'step' => '0.01', 'min' => '0' } %>
                  </td>
                  <td>
                    <%= t.number_field :taxi_parking, { 'onkeypress' => 'validate(event)', :class => "form-control numb" , :style => "width:90px;" , 'value' => '0.00' , 'step' => '0.01', 'min' => '0' } %>
                  </td>
                  <td>
                    <%= t.number_field :car_rental, { 'onkeypress' => 'validate(event)', :class => "form-control numb" , :style => "width:90px;" , 'value' => '0.00' , 'step' => '0.01', 'min' => '0' } %>
                  </td>
                  <td>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#enterMeals">Enter Meals</button>
                  </td>
                  <td>
                  <%= t.number_field :lodging, { 'onkeypress' => 'validate(event)', :class => "form-control numb" , :style => "width:90px;" , 'value' => '0.00' , 'step' => '0.01', 'min' => '0' } %>
                </td>
                  <td >
                    <%= t.number_field :entertainment, { 'onkeypress' => 'validate(event)', :class => "form-control numb" , :style => "width:90px;" , 'value' => '0.00' , 'step' => '0.01', 'min' => '0' } %>
                  </td>
                  <td>
                    <%= t.number_field :other, { 'onkeypress' => 'validate(event)', :class => "form-control numb" , :style => "width:90px;" , 'value' => '0.00' , 'step' => '0.01', 'min' => '0' } %>
                  </td>
                  <td>
                    <%= t.text_field :notes, { :class => "form-control" , :style => "width:150px;"} %>
                  </td>

                 <td>
                    <div class="input-group">

                      <%= t.number_field :total, {:class => "form-control" , :style => "width:100px;" , :id => "totalNew" , 'onkeydown' => 'return false;' , :readonly => true } %>
                    </div>
                  </td>
                  <td>
                    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">Add Files</button>
                  </td>
                </tr>


                <div id="myModal" class="modal fade" role="dialog">
                  <div class="modal-dialog">

                    <!-- Modal content-->
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                        <h4 class="modal-title">Add Receipts or Files</h4>
                      </div>
                      <div class="modal-body">
                        <p>To add pictures or a PDF, just select them from your computer.</p>
                        <p>To select multiple, hold CTRL (or COMMAND on Mac) and click on each one :D Happy uploadin'</p>
                        <div id="gal1">

                          <%= t.file_field :images, multiple: true, id: 'fileupload' %>
                          <hr />
                          <b>Live Preview</b>
                          <br />
                          <br />
                          <div id="dvPreview">
                          </div>

                          <script language="javascript" type="text/javascript">
                              $(function () {
                                  $("#fileupload").change(function () {
                                      if (typeof (FileReader) != "undefined") {
                                          var dvPreview = $("#dvPreview");
                                          dvPreview.html("");
                                          var regex = /^([a-zA-Z0-9\s_\\.\-:])+(.jpg|.jpeg|.gif|.png|.bmp)$/;
                                          $($(this)[0].files).each(function () {
                                              var file = $(this);
                                              if (regex.test(file[0].name.toLowerCase())) {
                                                  var reader = new FileReader();
                                                  reader.onload = function (e) {
                                                      var img = $("<img />");
                                                      img.attr("style", "height:100px;width: 100px");
                                                      img.attr("src", e.target.result);
                                                      dvPreview.append(img);
                                                  }
                                                  reader.readAsDataURL(file[0]);
                                              } else {
                                                  var regexPDF = /^([a-zA-Z0-9\s_\\.\-:])+(.pdf)$/;
                                                  if (regexPDF.test(file[0].name.toLowerCase())) {
                                                      var reader = new FileReader();
                                                      reader.onload = function (e) {
                                                          var img = $("<img src='http://gundemmedyam.com/img/pdf.png' />");
                                                          img.attr("style", "height:100px;width: 100px");
                                                          dvPreview.append(img);
                                                      }
                                                      reader.readAsDataURL(file[0]);
                                                  } else {
                                                          alert(file[0].name + " is not a valid image file.");
                                                          dvPreview.html("");
                                                          return false;
                                                  }
                                              }
                                          });
                                      } else {
                                          alert("This browser does not support HTML5 FileReader.");
                                      }
                                  });
                              });
                          </script>
                        </div>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                      </div>
                    </div>

                  </div>
                </div>

        </tbody>

        <tbody id="tableholder">
        <% @expenses.each do |p| %>
            <tr id="row_<%= p.id %>" class="expenseEntry">
              <td><%= link_to '', page_path(p, :type => "expense"), method: :delete, data: { confirm: 'Do you want to delete this entry?' }, :remote => true, :style => "font-size:10px;", :class => 'delete_page btn btn-danger glyphicon glyphicon-remove pull-right' %></td>
              <td><span class="dateBlob"><%= p.date_activity %> </span></td>
              <td><%= p.credit_union %> </td>
              <td><%= p.job %> </td>

              <td class="dropdown">
                <span class="Entry"><%= p.miles_traveled %></span>
              </td>
              <td class="dropdown">
                <p class="dollarCheck"><span class="sunEntry"><%= p.mileage_expense %></span></p>
              </td>
              <td class="dropdown">
                <span class="dollarCheck"><span class="monEntry"><%= p.air_travel %></span></span>
              </td>
              <td class="dropdown">
                <span class="dollarCheck"><span class="tueEntry"><%= p.taxi_parking %></span></span>
              </td>
              <td class="dropdown">
                <span class="dollarCheck"><span class="wedEntry"><%= p.car_rental %></span></span>
              </td>
              <td class="dropdown">
                <span class="dollarCheck"><span class="thuEntry"><%= p.meal_total %></span></span>
              </td>
              <td class="dropdown">
                <span class="dollarCheck"><span class="friEntry"><%= p.lodging %></span></span>
              </td>
              <td class="dropdown">
                <span class="dollarCheck"><span class="satEntry"><%= p.entertainment %></span></span>
              </td>
              <td class="dropdown">
                <span class="dollarCheck"><span class="otherEntry"><%= p.other %></span></span>
              </td>
              <td class="dropdown">
                <span class="Entry"><%= p.notes %></span>
              </td>

              <td>
                $<span class="totalEntry"><%= p.total %></span>
              </td>
              <td>
                <% if p.images.any? %>
                <button type="button" class="btn btn-info" data-toggle="modal" data-target="#<%= p.id %>" style="margin-left:15px;">Files</button>
                    <% end %>
              </td>
            </tr>



            <!-- Modal -->
            <div id="<%= p.id %>" class="modal fade" role="dialog">
              <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Receipts/Files from <%= p.date_activity %></h4>
                  </div>
                  <div class="modal-body">
                    <div id="gal1">

                    <% p.images.each do |i| %>
                          <% if i.file.extension.downcase == "pdf" %>
                              <div>
                                <img href="<%= i.url %>" download="<%= i.filename %>" src="http://gundemmedyam.com/img/pdf.png" style="width:100px;">
                                <br>
                                <a href="<%= i.url %>" download="<%= i.filename %>">Download PDF</a>
                              </div>
                            <% else %>
                          <a href="<%= i.large.url %>" rel="noopener noreferrer data-image="<%= i.thumb.url %>" data-zoom-image="<%= i.large.url %>" target="_blank">
                            <img id="img_01" src="<%= i.thumb.url %>" />
                          </a>
                        <% end %>
                    <% end %>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                  </div>
                </div>

              </div>
            </div>
        <% end %>

        </tbody>

        <tbody>
        <tr class="success" id="totalsColumn">
          <td class="otherTotalCol"><p style="font-weight:bold;">Totals:</p></td>
          <td class="otherTotalCol"></td>
          <td class="otherTotalCol"></td>
          <td class="otherTotalCol"></td>
          <td class="otherTotalCol"></td>
          <td>$<span style="font-weight:bold;" id="totalSun"></span></td>
          <td>$<span style="font-weight:bold;" id="totalMon"></span></td>
          <td>$<span style="font-weight:bold;" id="totalTue"></span></td>
          <td>$<span style="font-weight:bold;" id="totalWed"></span></td>
          <td>$<span style="font-weight:bold;" id="totalThu"></span></td>
          <td>$<span style="font-weight:bold;" id="totalFri"></span></td>
          <td>$<span style="font-weight:bold;" id="totalSat"></span></td>
          <td>$<span style="font-weight:bold;" id="totalOther"></span></td>
          <td class="otherTotalCol"></td>
          <td>$<span style="font-weight:bold;" id="totalTotal"></span></td>
          <td class="otherTotalCol"></td>
        </tr>
        </tbody>

        </table>

        <div id="enterMeals" class="modal fade" role="dialog">
          <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Enter Meals</h4>
              </div>
              <table class="table" id="tab_logic">
                <thead>
                <tr>
                  <th>#</th>
                  <th>Restaurant</th>
                  <th>Cost</th>
                  <th>Daily Total</th>
                </tr>
                </thead>
                <tbody>

                <tr id='addr0' class="inputBundle">
                  <td>
                    <p>1</p>
                  </td>
                  <td>
                    <input class="form-control restaurantInput" type="text" placeholder="Restaurant Name">
                  </td>
                  <td>
                    <div class="form-group">
                      <p style="padding:0px;" class="col-sm-2 control-label">$</p>
                      <div class="col-sm-10" style="padding:0px;">
                        <input class="form-control costInput" style="padding:0px;" onkeypress='validate(event)' placeholder="Enter Cost">
                      </div>
                    </div>
                  </td>
                  <td>
                  </td>
                </tr>
                <tr id='addr1' class="inputBundle"></tr>
                <tr id='addr2' class="inputBundle"></tr>
                <tr id='addr3' class="inputBundle"></tr>
                <tr id='addr4' class="inputBundle"></tr>
                <tr id='addr5' class="inputBundle"></tr>
                <tr id='addr6' class="inputBundle"></tr>
                <tr id='addr7' class="inputBundle"></tr>
                <tr id='addr8' class="inputBundle"></tr>
                <tr id='addr9' class="inputBundle"></tr>
                <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td>
                    <%= t.number_field :meal_total, { :id => "mealTotal", :class => "form-control numb" , :style => "width:90px;" , 'onkeydown' => 'return false;' , :readonly => true } %>
                    <%= t.text_field :meals, { :class => "form-control", :style => "width:150px;display:none;", :id => "meals" } %>
                    <%= t.text_field :meal_names, { :class => "form-control", :style => "width:150px;display:none;", :id => "mealNames" } %>
                  </td>
                </tr>
                </tbody>
              </table>
              <a id="add_row" class="btn btn-default pull-left">Add Row</a>&nbsp;<a style="padding-right:8px;" id='delete_row' class="btn btn-default">Delete Row</a>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>

          </div>
        <% end %>
        <script>
          $(document).ready(function(){
            var i=1;
          $("#add_row").click(function(){
            $('#addr'+i).html("<td>"+ (i+1) +"</td><td><input class='form-control restaurantInput' type='text' placeholder='Restaurant Name'></td><td><div class='form-group'><p style='padding:0px;' class='col-sm-2 control-label'>$</p><div class='col-sm-10' style='padding:0px;'><input class='form-control costInput' style='padding:0px;' onkeypress='validate(event)' placeholder='Enter Cost'></div></div></td><td></td>");

            $('#tab_logic').append('<tr class="inputBundle" id="addr'+(i+1)+'"></tr>');
            i++;
          });
          $("#delete_row").click(function(){
          if(i>1){
            $("#addr"+(i-1)).html('');
            i--;
          }
          });

          });
        </script>
        </div>
        </div>
      </div>
    </div>
  </div>
