<head>
  <script type="text/javascript" src="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.js"></script>
  <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/bootstrap.daterangepicker/2/daterangepicker.css" />
  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" media="all">
  <style>

    /* ------------------------------------------
            :: New Expense ::
       ------------------------------------------ */
    @import url(https://fonts.googleapis.com/css?family=Roboto:400,300,600,400italic);
    .container{
      margin-top:20px;
    }

    .css-class-to-highlight-approved a {
      background-color: #218212 !important;
      background-image :none !important;
      color: #efefef !important;
    }
    .css-class-to-highlight-pending a {
      background-color: #EC971F !important;
      background-image :none !important;
      color: #efefef !important;
    }
    .css-class-to-highlight-declined a {
      background-color: #910101 !important;
      background-image :none !important;
      color: #efefef !important;
    }

    .ui-datepicker-current-day a {
      background-color: #007fff !important;
      background-image :none !important;
      color: #efefef !important;
    }

    .image-preview-input {
      position: relative;
      overflow: hidden;
      margin: 0px;
      color: #333;
      background-color: #fff;
      border-color: #ccc;
    }
    .image-preview-input input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
    .image-preview-input-title {
      margin-left:2px;
    }
    * .inputwrap {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      -webkit-font-smoothing: antialiased;
      -moz-font-smoothing: antialiased;
      -o-font-smoothing: antialiased;
      font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
    }

    body .inputwrap {
      font-family: "Roboto", Helvetica, Arial, sans-serif;
      font-weight: 100;
      font-size: 12px;
      line-height: 30px;
      color: #777;
      background: #4CAF50;
      background-color: #eaf1fc;
    }

    .containerz {
      max-width: 400px;
      width: 100%;
      margin: 0 auto;
      position: relative;
    }

    #contact input[type="text"],
    #contact input[type="email"],
    #contact input[type="tel"],
    #contact input[type="url"],
    #contact textarea,
    #contact button[type="submit"] {
      font: 400 12px/16px "Roboto", Helvetica, Arial, sans-serif;
    }

    #contactz {
      background: #F9F9F9;
      padding: 25px;
      box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
    }

    #contactz h3 {
      display: block;
      font-size: 30px;
      font-weight: 300;
      margin-bottom: 10px;
    }

    #contactz h4 {
      margin: 5px 0 15px;
      display: block;
      font-size: 13px;
      font-weight: 400;
    }

    fieldset .inputwrap  {
      border: medium none !important;
      margin: 0 0 10px;
      min-width: 100%;
      padding: 0;
      width: 100%;
    }

    #contactz input[type="text"],
    #contactz input[type="email"],
    #contactz input[type="tel"],
    #contactz input[type="url"],
    #contactz textarea {
      width: 100%;
      border: 1px solid #ccc;
      background: #FFF;
      margin: 0 0 5px;
      padding: 10px;
    }

    #contactz input[type="text"]:hover,
    #contactz input[type="email"]:hover,
    #contactz input[type="tel"]:hover,
    #contactz input[type="url"]:hover,
    #contactz textarea:hover {
      -webkit-transition: border-color 0.3s ease-in-out;
      -moz-transition: border-color 0.3s ease-in-out;
      transition: border-color 0.3s ease-in-out;
      border: 1px solid #aaa;
    }

    #contactz textarea {
      height: 100px;
      max-width: 100%;
      resize: none;
    }

    #contactz button[type="submit"] {
      cursor: pointer;
      width: 100%;
      border: none;
      background: #4CAF50;
      color: #FFF;
      margin: 0 0 5px;
      padding: 10px;
      font-size: 15px;
    }

    #contactz button[type="submit"]:hover {
      background: #43A047;
      -webkit-transition: background 0.3s ease-in-out;
      -moz-transition: background 0.3s ease-in-out;
      transition: background-color 0.3s ease-in-out;
    }

    #contactz button[type="submit"]:active {
      box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
    }


    #contactz input:focus,
    #contactz textarea:focus {
      outline: 0;
      border: 1px solid #aaa;
    }

    ::-webkit-input-placeholder {
      color: #888;
    }

    :-moz-placeholder {
      color: #888;
    }

    ::-moz-placeholder {
      color: #888;
    }

    :-ms-input-placeholder {
      color: #888;
    }

    .image-preview-input {
      position: relative;
      overflow: hidden;
      margin: 0px;
      color: #333;
      background-color: #fff;
      border-color: #ccc;
    }
    .image-preview-input input[type=file] {
      position: absolute;
      top: 0;
      right: 0;
      margin: 0;
      padding: 0;
      font-size: 20px;
      cursor: pointer;
      opacity: 0;
      filter: alpha(opacity=0);
    }
    .image-preview-input-title {
      margin-left:2px;
    }

    #imageNonZoom {
      display: block;
      max-width:300px;
      max-height:500px;
      width: auto;
      height: auto;
    }

    /* -------------------------------------------
            :: Custom ::
       ------------------------------------------- */


    .table-responsive {

    }

    html {
      width: 100%;
    }
    .custom-combobox {
      position: relative;
      display: inline-block;
    }
    .custom-combobox-toggle {
      position: absolute;
      top: 0;
      bottom: 0;
      margin-left: -1px;
      padding: 0;
    }
    .custom-combobox-input {
      margin: 0;
      padding: 5px 10px;
    }

    /*    --------------------------------------------------
  :: General
  -------------------------------------------------- */
    body {
      font-family: 'Open Sans', sans-serif;
      color: #353535;
      background-color: #eaf1fc;
    }
    .content h1 {
      text-align: center;
    }
    .content .content-footer p {
      color: #6d6d6d;
      font-size: 12px;
      text-align: center;
    }
    .content .content-footer p a {
      color: inherit;
      font-weight: bold;
    }

    /*	--------------------------------------------------
      :: Table Filter
      -------------------------------------------------- */
    .panel {
      border: 1px solid #ddd;
      background-color: #fcfcfc;
    }
    .panel .btn-group {
      margin: 15px 0 30px;
    }
    .panel .btn-group .btn {
      transition: background-color .3s ease;
    }
    .table-filter {
      background-color: #fff;
      border-bottom: 1px solid #eee;
    }
    .table-filter tbody tr:hover {
      cursor: pointer;
      background-color: #eee;
    }
    .table-filter tbody tr td {
      padding: 10px;
      vertical-align: middle;
      border-top-color: #eee;
    }
    .table-filter tbody tr.selected td {
      background-color: #eee;
    }
    .table-filter tr td:first-child {
      width: 38px;
    }
    .table-filter tr td:nth-child(2) {
      width: 35px;
    }
    .ckbox {
      position: relative;
    }
    .ckbox input[type="checkbox"] {
      opacity: 0;
    }
    .ckbox label {
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
    .ckbox label:before {
      content: '';
      top: 1px;
      left: 0;
      width: 18px;
      height: 18px;
      display: block;
      position: absolute;
      border-radius: 2px;
      border: 1px solid #bbb;
      background-color: #fff;
    }
    .ckbox input[type="checkbox"]:checked + label:before {
      border-color: #2BBCDE;
      background-color: #2BBCDE;
    }
    .ckbox input[type="checkbox"]:checked + label:after {
      top: 3px;
      left: 3.5px;
      content: '\e013';
      color: #fff;
      font-size: 11px;
      font-family: 'Glyphicons Halflings';
      position: absolute;
    }
    .table-filter .star {
      color: #ccc;
      text-align: center;
      display: block;
    }
    .table-filter .star.star-checked {
      color: #F0AD4E;
    }
    .table-filter .star:hover {
      color: #ccc;
    }
    .table-filter .star.star-checked:hover {
      color: #F0AD4E;
    }
    .table-filter .media-photo {
      width: 35px;
    }
    .table-filter .media-body {
      display: block;
      /* Had to use this style to force the div to expand (wasn't necessary with my bootstrap version 3.3.6) */
    }
    .table-filter .media-meta {
      font-size: 11px;
      color: #999;
    }
    .table-filter .media .title {
      color: #2BBCDE;
      font-size: 14px;
      font-weight: bold;
      line-height: normal;
      margin: 0;
    }
    .table-filter .media .title span {
      font-size: .8em;
      margin-right: 20px;
    }
    .table-filter .media .title span.pagado {
      color: #5cb85c;
    }
    .table-filter .media .title span.pendiente {
      color: #f0ad4e;
    }
    .table-filter .media .title span.cancelado {
      color: #d9534f;
    }
    .table-filter .media .summary {
      font-size: 14px;
    }
    #newExpense {

    }
    #milage {
      display:none;
    }

    /* BOOTSNAP TEMPLATE */


    .dropdown-user {
      margin: 13px 0;
      padding: 5px;
      height: 100%;
    }

    .dropdown-user:hover {
      cursor: pointer;

    }

    .dropdown-user:active {
      transition: all ease-in-out 500ms;
      transform: rotate(450deg);
    }

    /* BOOTSNAP PROGRESS BAR 4-STEP */

    .one, .two, .three, .four{
      position:absolute;
      margin-top:-10px;
      z-index:1;
      height:40px;
      width:40px;
      border-radius:25px;
      background-color:#dcdcdc;
    }

    .one{
      left:-1%;
    }
    .two{
      left:33%;
    }
    .three{
      left:66%;
    }
    .four {
      left:99%;
    }
    .primary-color{
      background-color:#4989bd;
    }
    .success-color{
      background-color:#5cb85c;
    }
    .danger-color{
      background-color:#d9534f;
    }
    .warning-color{
      background-color:#f0ad4e;
    }
    .info-color{
      background-color:#5bc0de;
    }
    .no-color{
      background-color:#dcdcdc;
    }
    .progress {
      background-color:#dcdcdc;
    }
      .progress-bar-success1 {
        background-color:#5cb85c;
      }

  </style>
  <script>

      function newTotalFunction() {
          var nameArray = [];

          $('#tableElements').children('tr').each(function () {
              //find names
              var name = $(this).find('#names').text();
              if (jQuery.inArray(name,nameArray) == -1 ) {
                  nameArray.push(name);
              } else {

              }
          });

          $(".frontTable").each(function() {

              //CHANGE SUBMIT BUTTON WHEN FINAL SUPER-ADMIN IS ENABLED
              if ($(this).find("#progressbartext").text() != 0) {
                  $(this).find(".manySubmitButtons").each(function() {
                      $(this).css("display","inherit");
                  });
              }
              if ($(this).find("#approvalCover").text() != "Submitted") {
                  $(this).find(".manySubmitButtons").each(function() {
                      $(this).css("display","none");
                  });
              }
          });



      }

      function expenseSwitcher() {

          var CUList, nameListEX, CUListEX, DateListEX, approvalFinalEX, approvalFinal;
          CUList = [], nameListEX = [], CUListEX = [], DateListEX = [], approvalFinalEX = [], approvalFinal = [];

          <% @expenses.each do |e| %>
            nameListEX.push("<%= e.user.first_name %>" + " " + "<%= e.user.last_name %>");
            CUListEX.push("<%= e.credit_union %>");
            DateListEX.push("<%= e.date_activity %>");
            approvalFinalEX.push("<%= e.approvalFinal %>");
          <% end %>


          for (var z = 0; z < nameListEX.length; z++) {
              if (moment(DateListEX[z]) <= lastday && moment(DateListEX[z]) >= firstday && selectedName.trim() == nameListEX[z].trim() ) {
                  if (CUList.indexOf(CUListEX[z]) == -1) {
                      CUList.push(CUListEX[z]);
                      approvalFinal.push(approvalFinalEX[z]);
                  }
              }

          }

          for (var x = 1; x < 5; x++) {
              tab = "#expenseTab" + x;
              entry = $(tab).find(".expenseEntry");
              if (CUList[x-1] != "" && CUList[x-1] != undefined) {
                  $(tab).css("display","inherit");
                  $(tab).find(".CUTitle").text(CUList[x-1]);
                  console.log(approvalFinal[x-1]);
                  if (approvalFinal[x-1] != undefined && approvalFinal[x-1] != 0) {
                      $(tab).find("#approvalStatus").text(approvalFinal[x-1]);
                  } else {
                      $(tab).find("#approvalStatus").text("Pending");
                  }
                  $(tab).find(".expenseTab").data("role", CUList[x-1]);
                  $(tab).find(".expenseEntry").each(function() {
                      if ($(this).data("cu") == CUList[x-1] && moment($(this).data("date")) <= lastday && moment($(this).data("date")) >= firstday && selectedName == $(this).data("name")) {
                          $(this).css("display","inherit");
                      }
                      else {
                          $(this).css("display","none");
                      }
                  });
              }
              else {
                  $(tab).css("display","none");
              }
          }


          $(".expenseTab").each(function() {

              //Individual progress bars
              var approval = $(this).find("#approvalStatus").text();
              if (approval == "Unapproved") {
                  $(this).find(".pb").removeClass("progress-bar-danger progress-bar-info progress-bar-warning progress-bar-success1");
                  $(this).find(".one").removeClass("info-color no-color warning-color success-color");
                  $(this).find(".two").removeClass("info-color no-color warning-color success-color");
                  $(this).find(".three").removeClass("info-color no-color warning-color success-color");
                  $(this).find(".four").removeClass("info-color no-color warning-color success-color");
                  $(this).find(".pb").addClass("progress-bar-danger");
                  $(this).find(".pb").css("width","100%");
                  $(this).find(".one").addClass("danger-color");
                  $(this).find(".two").addClass("danger-color");
                  $(this).find(".three").addClass("danger-color");
                  $(this).find(".four").addClass("danger-color");
              }
              if (approval == "Pending") {
                  $(this).find(".pb").removeClass("progress-bar-danger progress-bar-info progress-bar-warning progress-bar-success1");
                  $(this).find(".one").removeClass("info-color no-color warning-color success-color");
                  $(this).find(".two").removeClass("info-color no-color warning-color success-color");
                  $(this).find(".three").removeClass("info-color no-color warning-color success-color");
                  $(this).find(".four").removeClass("info-color no-color warning-color success-color");
                  $(this).find(".pb").addClass("progress-bar-warning");
                  $(this).find(".pb").css("width","34%");
                  $(this).find(".one").addClass("warning-color");
                  $(this).find(".two").addClass("warning-color");
                  $(this).find(".three").addClass("no-color");
                  $(this).find(".four").addClass("no-color");
              }
              if (approval == "Reviewed") {
                  $(this).find(".pb").removeClass("progress-bar-danger progress-bar-info progress-bar-warning progress-bar-success1");
                  $(this).find(".one").removeClass("info-color no-color warning-color success-color");
                  $(this).find(".two").removeClass("info-color no-color warning-color success-color");
                  $(this).find(".three").removeClass("info-color no-color warning-color success-color");
                  $(this).find(".four").removeClass("info-color no-color warning-color success-color");
                  $(this).find(".pb").addClass("progress-bar-info");
                  $(this).find(".pb").css("width","67%");
                  $(this).find(".one").addClass("info-color");
                  $(this).find(".two").addClass("info-color");
                  $(this).find(".three").addClass("info-color");
                  $(this).find(".four").addClass("no-color");
              }
              if (approval == "Not Created") {
                  $(this).find(".pb").removeClass("progress-bar-danger progress-bar-info progress-bar-warning progress-bar-success1");
                  $(this).find(".one").removeClass("info-color no-color warning-color success-color");
                  $(this).find(".two").removeClass("info-color no-color warning-color success-color");
                  $(this).find(".three").removeClass("info-color no-color warning-color success-color");
                  $(this).find(".four").removeClass("info-color no-color warning-color success-color");
                  $(this).find(".pb").addClass("progress-bar-info");
                  $(this).find(".pb").css("width","0%");
                  $(this).find(".one").addClass("no-color");
                  $(this).find(".two").addClass("no-color");
                  $(this).find(".three").addClass("no-color");
                  $(this).find(".four").addClass("no-color");
              }
              if (approval == "Approved") {
                  $(this).find(".pb").removeClass("progress-bar-danger progress-bar-info progress-bar-warning");
                  $(this).find(".one").removeClass("info-color no-color warning-color");
                  $(this).find(".two").removeClass("info-color no-color warning-color");
                  $(this).find(".three").removeClass("info-color no-color warning-color");
                  $(this).find(".four").removeClass("info-color no-color warning-color");
                  $(this).find(".pb").addClass("progress-bar-success1");
                  $(this).find(".pb").css("width","100%");
                  $(this).find(".one").addClass("success-color");
                  $(this).find(".two").addClass("success-color");
                  $(this).find(".three").addClass("success-color");
                  $(this).find(".four").addClass("success-color");
              }
          });

      }

      function calendarHighlight() {
          //Init Datepicker and add Highlights if timesheets aren't finished

          var counter = 0;
          var firstDay, endDay;
          var eventDates = [], eventDatesGood = [];
          $('.submitButtonWrap').each(function () {
              firstDay = moment($(this).find("#submitDate").text()).startOf("week");
              if ($(this).find("#submitStatus").text() == "Submitted") {
                  eventDatesGood.push(firstDay);
                  eventDatesGood.push(moment(firstDay).add(1,'days'));
                  eventDatesGood.push(moment(firstDay).add(2,'days'));
                  eventDatesGood.push(moment(firstDay).add(3,'days'));
                  eventDatesGood.push(moment(firstDay).add(4,'days'));
                  eventDatesGood.push(moment(firstDay).add(5,'days'));
                  eventDatesGood.push(moment(firstDay).add(6,'days'));
              } else {
                  eventDates.push(firstDay);
                  eventDates.push(moment(firstDay).add(1,'days'));
                  eventDates.push(moment(firstDay).add(2,'days'));
                  eventDates.push(moment(firstDay).add(3,'days'));
                  eventDates.push(moment(firstDay).add(4,'days'));
                  eventDates.push(moment(firstDay).add(5,'days'));
                  eventDates.push(moment(firstDay).add(6,'days'));
              }
          });

          var datesave = $('#datepicker').datepicker('getDate');
          $("#datepicker").datepicker('destroy');
          $("#datepicker").datepicker({
              beforeShowDay: function (date) {
                  for (var i = 0; i < eventDates.length; i++) {
                      if (new Date(eventDates[i]).toString() == date.toString()) {
                          return [true, 'css-class-to-highlight-declined', 'tooltip text'];
                      }
                  }
                  for (var i = 0; i < eventDatesGood.length; i++) {
                      if (new Date(eventDatesGood[i]).toString() == date.toString()) {
                          return [true, 'css-class-to-highlight-approved', 'tooltip text'];
                      }
                  }
                  return [true, ''];
              }
          });
          $("#datepicker").datepicker('setDate',datesave);
      }

      $(document).on('click', '#close-preview', function(){
          $('.image-preview').popover('hide');
          // Hover befor close the preview
          $('.image-preview').hover(
              function () {
                  $('.image-preview').popover('show');
              },
              function () {
                  $('.image-preview').popover('hide');
              }
          );
      });

      $(function() {
          // Create the close button
          var closebtn = $('<button/>', {
              type:"button",
              text: 'x',
              id: 'close-preview',
              style: 'font-size: initial;',
          });
          closebtn.attr("class","close pull-right");
          // Set the popover default content
          $('.image-preview').popover({
              trigger:'manual',
              html:true,
              title: "<strong>Preview</strong>"+$(closebtn)[0].outerHTML,
              content: "There's no image",
              placement:'bottom'
          });
          // Clear event
          $('.image-preview-clear').click(function(){
              $('.image-preview').attr("data-content","").popover('hide');
              $('.image-preview-filename').val("");
              $('.image-preview-clear').hide();
              $('.image-preview-input input:file').val("");
              $(".image-preview-input-title").text("Browse");
          });
          // Create the preview image
          $(".image-preview-input input:file").change(function (){
              var img = $('<img/>', {
                  id: 'dynamic',
                  width:250,
                  height:200
              });
              var file = this.files[0];
              var reader = new FileReader();
              // Set preview image into the popover data-content
              reader.onload = function (e) {
                  $(".image-preview-input-title").text("Change");
                  $(".image-preview-clear").show();
                  $(".image-preview-filename").val(file.name);
                  img.attr('src', e.target.result);
                  $(".image-preview").attr("data-content",$(img)[0].outerHTML).popover("show");
              }
              reader.readAsDataURL(file);
          });
      });

      function isNumber(evt) {
          var theEvent = evt || window.event;
          var key = theEvent.keyCode || theEvent.which;
          key = String.fromCharCode(key);
          if (key.length == 0) return;
          var regex = /^[0-9.,\b]+$/;
          if (!regex.test(key)) {
              theEvent.returnValue = false;
              if (theEvent.preventDefault) theEvent.preventDefault();
          }
      }


      // DOCUMENT READY START //

      var CUlist = [], dateList = [], sunList = [], monList = [], tueList = [], wedList = [], thuList = [], friList = [], satList = [];
      $(document).ready(function() {

          if ( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
              $('#sidebarNav').find('[datePickerTag="first"]').removeAttr("id");
          }
          else {
              $('#sidebarNav').find('[datePickerTag="first"]').attr("id","datepicker");
              $('.mobileDateCheck').find('[datePickerTag="last"]').css("display","none");
          }

          var monthNames = ["January", "February", "March", "April", "May", "June",
              "July", "August", "September", "October", "November", "December"
          ];
          var nameArray = [];

          calendarHighlight();

          if (sessionStorage.refreshCount == undefined) {
              $("#datepicker").datepicker().datepicker("setDate", new Date());
              sessionStorage.refreshCount = 1;
          } else {
              var date = sessionStorage.datePicked;
              date = new Date(date);
              date.setDate(date.getDate());

              $("#datepicker").datepicker().datepicker("setDate", date );
          }
          sessionStorage.refreshCount = sessionStorage.refreshCount + 1;
          //new Date("10/10/2016")

          noExpensesCheck();


          //Saves date local variable
          sessionStorage.datePicked = $('#datepicker').datepicker('getDate');

          $(".approvalclass").each(function() {
              var approval = $(this).clone().children().remove().end().text();
              if (approval == "Reviewed") {
                  $(this).css("color","#5bc0de");
              }
              if (approval == "Pending") {
                  $(this).css("color","#ec971f");
              }
              if (approval == "Unapproved") {
                  $(this).css("color","#cc0a0a");
              }
          });



          //initialize selector
          $('#selectizeInput').selectize({
              create: true,
              placeholder: 'Select a CU or Type Your Own',
          });

          $("#expenseDate").on('change', function() {
              var $select = $('#selectizeInput').selectize();
              var control = $select[0].selectize;
              var dateBeg, dateEnd;
              control.clearCache('option');
              control.clearOptions();
              control.refreshOptions(true);

              day = moment($("#expenseDate").val()).day();
              dateBeg = moment($("#expenseDate").val()).subtract(day,'days');
              dateEnd = moment(dateBeg).add(6,'days').endOf('day');

              for (var i = 0; i < CUlist.length; i++) {
                  if (moment(dateList[i]) >= moment(dateBeg) && moment(dateList[i]) <= moment(dateEnd) ) {
                      control.addOption({value:(CUlist[i]),text:CUlist[i]});
                      control.addItem((CUlist[i]));
                  }
              }

              control.clear();
          });


          newTotalFunction();


          $('.frontTable').click(function(event) {
              if (event.target.id == "successBut" || event.target.id == "failBut") {
                  return;
              }
              selectedName = $(this).find("#nameHolder").text().trim();
              expenseSwitcher();
              $("#expenseWrap").slideUp();
              $("#wholeWrapper").css("display","");
          });


          $('#clearMonth').click(function() {
              $("#wholeWrapper").css("display","none");
              $("#expenseWrap").slideDown();
          });



          //Approval Buttons
          $('.approvalButtons').each(function() {
              var approval = $(this).find('#ApprovalBlob').val();
              $(this).find('#successBut').className = '';
              $(this).find('#failBut').className = '';
              if (approval == "Reviewed") {
                  $(this).find('#successBut').addClass("btn btn-info glyphicon glyphicon-ok");
                  $(this).find('#failBut').addClass("btn btn-default glyphicon glyphicon-remove");
              }
              if (approval == "Unapproved") {
                  $(this).find('#successBut').addClass("btn btn-default glyphicon glyphicon-ok");
                  $(this).find('#failBut').addClass("btn btn-danger glyphicon glyphicon-remove");
              }
              if (approval == "Pending" || approval == "") {
                  $(this).find('#successBut').addClass("btn btn-warning glyphicon glyphicon-ok");
                  $(this).find('#failBut').addClass("btn btn-warning glyphicon glyphicon-remove");
              }
          });

          $('.approvalButtonsFinal').each(function() {
              var approval = $(this).find('#ApprovalBlob').val();
              $(this).find('#successBut').className = '';
              $(this).find('#failBut').className = '';
              if (approval == "Approved") {
                  $(this).find('#successBut').addClass("btn btn-success ");
                  $(this).find('#failBut').addClass("btn btn-default ");
                  $(this).find("#successBut").text("Approved");
                  $(this).find("#failBut").text("Unapprove");
              }
              if (approval == "Unapproved") {
                  $(this).find('#successBut').addClass("btn btn-default ");
                  $(this).find('#failBut').addClass("btn btn-danger ");
                  $(this).find("#successBut").text("Approve");
                  $(this).find("#failBut").text("Unapproved");
                  $(this).find('#failBut').css("background","color:#d9534f")
              }
              if (approval == "Reviewed" || approval == "") {
                  $(this).find('#successBut').addClass("btn btn-warning");
                  $(this).find('#failBut').addClass("btn btn-warning ");
                  $(this).find("#successBut").text("Approve");
                  $(this).find("#failBut").text("Unapprove");
              }

          });

          //Changes approval buttons color when clicked

          $( "body" ).click(function( event ) {
              if (event.target.id == "successBut") {
                  var texts = $(event.target).parent().parent().parent().parent().parent().find("#approval");
                  $(event.target).parent().find("#failBut").removeClass();
                  event.target.className = '';
                  if (event.target.value == "ApprovedFinalEX") {
                      $(event.target).addClass("btn btn-success approvalSuccessButton hvr-radial-out-green");
                      $(event.target).parent().find("#failBut").addClass("btn btn-default hvr-radial-out-red");
                      tab = $(event.target).parent().parent().parent().parent().parent().parent();
                      $(tab).find("#progressbartext").text("Approved");
                      $(tab).find("#progressbar").removeClass("progress-bar-danger");
                      $(tab).find("#progressbar").removeClass("progress-bar-info");
                      $(tab).find("#progressbar").removeClass("progress-bar-warning");
                      $(tab).find("#progressbar").removeClass("progress-bar-none");
                      $(tab).find("#progressbar").removeClass("progress-bar-success");
                      $(tab).find("#progressbar").addClass("progress-bar-success1");
                  } else {
                      $(event.target).addClass("btn btn-info glyphicon glyphicon-ok approvalSuccessButton");
                      $(event.target).parent().find("#failBut").addClass("btn btn-default glyphicon ");
                  }
                  texts.text("Reviewed");
                  texts.css("color","#5bc0de");
              }
              else if (event.target.id == "failBut") {
                  var texts = $(event.target).parent().parent().parent().parent().parent().find("#approval");
                  var otherchild = $(event.target).parent().find("#successBut");
                  otherchild.removeClass();
                  event.target.className = '';
                  if (event.target.value == "UnapprovedFinalEX") {
                      otherchild.addClass("btn btn-default  approvalSuccessButton hvr-radial-out-green");
                      $(event.target).addClass("btn btn-danger hvr-radial-out-red");
                      tab = $(event.target).parent().parent().parent().parent().parent().parent();
                      $(tab).find("#progressbartext").text("Unapproved");
                      $(tab).find("#progressbar").removeClass("progress-bar-success1");
                      $(tab).find("#progressbar").removeClass("progress-bar-info");
                      $(tab).find("#progressbar").removeClass("progress-bar-warning");
                      $(tab).find("#progressbar").removeClass("progress-bar-none");
                      $(tab).find("#progressbar").removeClass("progress-bar-success");
                      $(tab).find("#progressbar").addClass("progress-bar-danger");
                  } else {
                      otherchild.addClass("btn btn-default glyphicon glyphicon-ok approvalSuccessButton");
                      $(event.target).addClass("btn btn-danger glyphicon glyphicon-remove");
                  }
                  texts.text("Unapproved");
                  texts.css("color","#cc0a0a");
              }

              cu = $(event.target).parent().parent().parent().parent().parent().data("cu");
              var hasUnapproved = false;

              for (var x = 1; x < 5; x++) {
                  tab = "#expenseTab" + x;
                   if ($(tab).find(".CUTitle").text() == cu  ) {
                       $(tab).find(".expenseEntry").each(function() {
                           if($(this).css("display") != "none") {
                               if( $(this).find(".approvalSuccessButton").hasClass("btn-info") == true ) {

                               } else {
                                   hasUnapproved = true;
                               }
                           }
                       });
                       if (hasUnapproved == false) {
                           $(tab).find("#approvalStatus").text("Reviewed");
                           $(tab).find(".pb").removeClass("progress-bar-danger progress-bar-info progress-bar-warning")
                           $(tab).find(".one").removeClass("info-color no-color warning-color");
                           $(tab).find(".two").removeClass("info-color no-color warning-color");
                           $(tab).find(".three").removeClass("info-color no-color warning-color");
                           $(tab).find(".four").removeClass("info-color no-color warning-color");
                           $(tab).find(".pb").addClass("progress-bar-info");
                           $(tab).find(".pb").css("width","67%");
                           $(tab).find(".one").addClass("info-color");
                           $(tab).find(".two").addClass("info-color");
                           $(tab).find(".three").addClass("info-color");
                           $(tab).find(".four").addClass("no-color");
                       } else {
                           $(tab).find("#approvalStatus").text("Unapproved");
                           $(tab).find(".pb").removeClass("progress-bar-danger progress-bar-info progress-bar-warning")
                           $(tab).find(".one").removeClass("info-color no-color warning-color");
                           $(tab).find(".two").removeClass("info-color no-color warning-color");
                           $(tab).find(".three").removeClass("info-color no-color warning-color");
                           $(tab).find(".four").removeClass("info-color no-color warning-color");
                           $(tab).find(".pb").addClass("progress-bar-danger");
                           $(tab).find(".pb").css("width","100%");
                           $(tab).find(".one").addClass("danger-color");
                           $(tab).find(".two").addClass("danger-color");
                           $(tab).find(".three").addClass("danger-color");
                           $(tab).find(".four").addClass("danger-color");
                       }
                   }
              }
          });

          dateRange();

      });

      // DOCUMENT READY END  //
      // ############## //


      function noExpensesCheck() {
          var tablecount = 0;
          var hiddencount = 0;
          $("#tableholder").find('tr').each(function() {
              tablecount = tablecount + 1;
              if ($(this).css("display") == "none") {
                  hiddencount = hiddencount +1;
              }
          });

          if ($("#noExpense").css("display") != "none") {
              hiddencount = hiddencount +1;
          }

          if ( tablecount == hiddencount ) {
              $("#noExpense").css("display","");
              $("#noExpense").parents().closest(".expenseTab").find("#approvalStatus").text("Not Created");
          } else {
              $("#noExpense").css("display","none");
          }
      }

      var approvalStatus;
      $(function() {
          $('.selectpicker').selectpicker();



          $(document).on('show.bs.modal', '.modal', function (event) {
              var zIndex = 1040 + (10 * $('.modal:visible').length);
              $(this).css('z-index', zIndex);
              setTimeout(function() {
                  $('.modal-backdrop').not('.modal-stack').css('z-index', zIndex - 1).addClass('modal-stack');
              }, 0);
          });


          $('input[id="expenseDate"]').daterangepicker({
              singleDatePicker: true,
              showDropdowns: true,
              locale: {
                  format: 'YYYY-MM-DD'
              },
          });
      });

      var selectedName;
      function dateRange() {
          var monthNames = ["January", "February", "March", "April", "May", "June",
              "July", "August", "September", "October", "November", "December"
          ];
          curr = $('#datepicker').datepicker('getDate');
          first = curr.getDate() - curr.getDay();
          firstday = new Date(curr.setDate(first));
          second = curr.getDate() +1;
          secondday = new Date(curr.setDate(second));
          third = curr.getDate() + 1;
          thirdday = new Date(curr.setDate(third));
          fourth = curr.getDate() + 1;
          fourthday = new Date(curr.setDate(fourth));
          fifth = curr.getDate() + 1;
          fifthday = new Date(curr.setDate(fifth));
          sixth = curr.getDate() + 1;
          sixthday = new Date(curr.setDate(sixth));
          last = curr.getDate() + 1;
          lastday = new Date(curr.setDate(last));

          $('#dateTitle').text( (monthNames[firstday.getMonth()] ) + ' ' + firstday.getDate() + ', ' +  firstday.getFullYear() + " - " + (monthNames[lastday.getMonth()] ) + ' ' + lastday.getDate() + ', ' +  lastday.getFullYear() );
          $('#Date1').text("Sun " + firstday.getDate() );
          $('#Date2').text("Mon " + secondday.getDate() );
          $('#Date3').text("Tue " + thirdday.getDate() );
          $('#Date4').text("Wed " + fourthday.getDate() );
          $('#Date5').text("Thu " + fifthday.getDate() );
          $('#Date6').text("Fri " + sixthday.getDate() );
          $('#Date7').text("Sat " + lastday.getDate() );


          $('#datePicked').val($('#datepicker').datepicker('getDate'));



          var CUListE = [], dateListE = [], submitListE = [], nameListE = [], approvalFinalE = [];
          <% @expenses.each do |p| %>
            CUListE.push("<%= p.credit_union %>");
            dateListE.push("<%= p.date_activity %>");
            submitListE.push("<%= p.submitted %>");
            nameListE.push("<%= p.user.first_name %> <%= p.user.last_name %>");
            approvalFinalE.push("<%= p.approvalFinal %>");
          <% end %>

          //Changes submit status
          $(".frontTable").each(function () {
              var name = $(this).attr("id");
              for (var z = 0; z < nameListE.length; z++) {
                  if (nameListE[z] == name && moment(dateListE[z]) > firstday && moment(dateListE[z]) < lastday) {
                      if (submitListE[z] == "") {
                          $(this).find("#approvalCover").text("Not Submitted");
                          break;
                      } else {
                          $(this).find("#approvalCover").text(submitListE[z]);
                          break;
                      }
                  } else {
                      $(this).find("#approvalCover").text("Not Submitted");
                  }
              }

              approvalFinal = [];
              for (var z = 0; z < nameListE.length; z++) {
                  if (nameListE[z] == name && moment(dateListE[z]) > firstday && moment(dateListE[z]) < lastday) {
                    approvalFinal.push(approvalFinalE[z]);
                    console.log(approvalFinalE[z] + name + CUListE[z]);
                  }
              }

                if (approvalFinal.indexOf("Reviewed") != -1) {
                    $(this).find("#progressbartext").text("Reviewed");
                    $(this).find("#progressbar").removeClass("progress-bar-success1");
                    $(this).find("#progressbar").removeClass("progress-bar-success");
                    $(this).find("#progressbar").removeClass("progress-bar-danger");
                    $(this).find("#progressbar").removeClass("progress-bar-warning");
                    $(this).find("#progressbar").removeClass("progress-bar-none");
                    $(this).find("#progressbar").addClass("progress-bar-info");
                }
                if (approvalFinal.indexOf("") != -1 || approvalFinal.indexOf(0) != -1 || approvalFinal.indexOf("Pending") != -1) {
                  $(this).find("#progressbartext").text("Pending");
                    $(this).find("#progressbar").removeClass("progress-bar-success1");
                    $(this).find("#progressbar").removeClass("progress-bar-success");
                    $(this).find("#progressbar").removeClass("progress-bar-danger");
                    $(this).find("#progressbar").removeClass("progress-bar-info");
                    $(this).find("#progressbar").removeClass("progress-bar-none");
                    $(this).find("#progressbar").addClass("progress-bar-warning");
                }
                if (approvalFinal.indexOf("Unapproved") != -1) {
                    $(this).find("#progressbartext").text("Unapproved");
                    $(this).find("#progressbar").removeClass("progress-bar-success1");
                    $(this).find("#progressbar").removeClass("progress-bar-success");
                    $(this).find("#progressbar").removeClass("progress-bar-info");
                    $(this).find("#progressbar").removeClass("progress-bar-warning");
                    $(this).find("#progressbar").removeClass("progress-bar-none");
                    $(this).find("#progressbar").addClass("progress-bar-danger");
                }
                if (approvalFinal.length == 0) {
                    $(this).find("#progressbartext").text("Not Created");
                    $(this).find("#progressbar").removeClass("progress-bar-success1");
                    $(this).find("#progressbar").removeClass("progress-bar-success");
                    $(this).find("#progressbar").removeClass("progress-bar-info");
                    $(this).find("#progressbar").removeClass("progress-bar-warning");
                    $(this).find("#progressbar").removeClass("progress-bar-danger");
                    $(this).find("#progressbar").addClass("progress-bar-none");
                }
              if (approvalFinal.indexOf("Approved") != -1) {
                  $(this).find("#progressbartext").text("Approved");
                  $(this).find("#progressbar").removeClass("progress-bar-success");
                  $(this).find("#progressbar").removeClass("progress-bar-danger");
                  $(this).find("#progressbar").removeClass("progress-bar-info");
                  $(this).find("#progressbar").removeClass("progress-bar-warning");
                  $(this).find("#progressbar").removeClass("progress-bar-none");
                  $(this).find("#progressbar").addClass("progress-bar-success1");
              }
          });

          var counter = 0;
          $(".submitButton").each(function() {
              var dater = $(this).parent().parent().find("#submitDate").text();
              console.log(dater);
              var submitStatus = $(this).parent().parent().find("#submitStatus").text();
              //alert(dater + "...." + lastday + "...." + firstday);
              if (moment(dater) <= lastday && moment(dater) >= firstday && counter == 0) {
                  $(this).css("display","");
                  counter = 1;
                  if (submitStatus == "Not Submitted" || submitStatus == "") {
                      $(this).removeClass("btn-danger");
                      $(this).addClass("btn-success");
                      $(this).attr("value","SubmittedEX");
                      $(this).text("Submit for Approval?");
                  } else {
                      $(this).removeClass("btn-success");
                      $(this).addClass("btn-danger");
                      $(this).attr("value","Not SubmittedEX");
                      $(this).text("Unsubmit for Approval?");
                  }
              } else {
                  $(this).css("display","none");
              }
          });

          nameArray = [];
          $(".manySubmitButtons").each(function() {
              var butDate = moment($(this).data("date"));
              var butName = $(this).data("extra");
              if (nameArray.indexOf(butName) != -1) { return true;}
              $(this).css("display","none");
              if (butDate > firstday && butDate < lastday && butName == $(this).parent().parent().parent().attr("id") && $(this).parent().parent().parent().find("#approvalCover").text() == "Submitted" ) {
                  $(this).css("display","inherit");
                  nameArray.push(butName);
              }
          });

      }

      var curr, first, second, third, fourth, fifth, sixth, last, firstday, lastday, secondday, thirdday, fourthday, fifthday, sixthday;
      $(document).on('change', '#datepicker', function() {

          $("#expenseWrap").fadeOut();

          setTimeout(dateRange,400);

          $("#expenseWrap").fadeIn();

          //Saves date local variable
          sessionStorage.datePicked = $('#datepicker').datepicker('getDate');


      });


      $(".dropdown-menu li a").click(function(){
          $(this).parents(".dropdown").find('.btn').html($(this).text() + ' <span class="caret"></span>');
          $(this).parents(".dropdown").find('.btn').val($(this).data('value'));
      });

      var sum;
      $(document).on('change', '.numb', function() {
          sum = 0;
          $('.numb').each(function () {
              sum = sum + Number($(this).val());
          });
          $('#totalNew').val(sum);
      });

      function validate(evt) {
          var theEvent = evt || window.event;
          var key = theEvent.keyCode || theEvent.which;
          key = String.fromCharCode( key );
          var regex = /[0-9]|\./;
          if( !regex.test(key) ) {
              theEvent.returnValue = false;
              if(theEvent.preventDefault) theEvent.preventDefault();
          }
      }

      $(document).ready(function() {
          var panels = $('.user-infos');
          var panelsButton = $('.dropdown-user');


          //Click dropdown
          panelsButton.click(function() {
              //get data-for attribute
              var dataFor = $(this).attr('data-for');
              var idFor = $(dataFor);

              //current button
              var currentButton = $(this);
              idFor.slideToggle(400, function() {
                  //Completed slidetoggle
                  if(idFor.is(':visible'))
                  {
                      currentButton.removeClass("hvr-icon-hang");
                      currentButton.addClass("hvr-icon-bob");
                  }
                  else
                  {
                      currentButton.removeClass("hvr-icon-bob");
                      currentButton.addClass("hvr-icon-hang");
                  }
              })
          });

          $('[data-toggle="tooltip"]').tooltip();



      });


  </script>
</head>

<div id="shadowOnOffs" style="background-color:#eaf1fc;">


  <nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Project name</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/" >Timesheet</a></li>
          <% if current_user.admin == true %>
              <li><a href="/approvals" >Timesheet Approvals</a></li>
          <% end %>
          <li><a href="/expenses" >Expenses</a></li>
          <% if current_user.admin == true %>
              <li><a href="/expensesapprovals" >Expenses Approvals</a></li>
              <li><a href="/exports" >Exports</a></li>
          <% end %>
          <li><%= link_to "Settings", edit_user_registration_path(@user) %></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :get) %></li>
        </ul>

      </div>
    </div>
  </nav>



  <div class="container-fluid" >
    <div >
      <div class="col-sm-3 col-md-2 sidebar" id="sidebarNav">
        <div style="line-height:75%;"><br></div>
        <h3 style="text-align: center;">Expense Approval</h3>
        <div style="" id="datepicker" datePickerTag="first"></div>
        <br>
        <ul class="nav nav-sidebar">
          <li><a class="hvr-sweep-to-right" href="/" >Timesheet<span class="glyphicon glyphicon-time pull-right"></span></a></li>
          <% if current_user.admin == true %>
              <li ><a class="hvr-sweep-to-right" href="/approvals">Timesheet Approvals<span class="sr-only">(current)</span><span class="glyphicon glyphicon-ok-circle pull-right"></span></a></li>
          <% end %>
          <li ><a class="hvr-sweep-to-right" href="/expenses">Expenses<span class="glyphicon glyphicon-usd pull-right"></span></a></li>
          <% if current_user.admin == true %>
              <li class="active"><a class="hvr-sweep-to-right" href="/expensesapprovals">Expenses Approvals<span class="glyphicon glyphicon-ok pull-right"></span></a></li>
              <li><a class="hvr-sweep-to-right" href="/exports">Exports<span class="glyphicon glyphicon-floppy-save pull-right"></span></a></li>
          <% end %>
        </ul>
        <!-- <ul class="nav nav-sidebar">
           <li><a href="">Nav item</a></li>
           <li><a href="">Nav item again</a></li>
           <li><a href="">One more nav</a></li>
           <li><a href="">Another nav item</a></li>
           <li><a href="">More navigation</a></li>
         </ul>
         <ul class="nav nav-sidebar">
           <li><a href="">Nav item again</a></li>
           <li><a href="">One more nav</a></li>
           <li><a href="">Another nav item</a></li>
         </ul> -->
      </div>

      <div class="container" id="expenseWrap" style="">
        <div class="row">
          <%= render "expenseapprovalcover" %>
        </div>
      </div>

      <div class="container" id="expenseWrap" >
        <div class="row" id="wholeWrapper" style="display:none;">

          <section class="content">
            <h1 style="text-align:center;" class="marginBumpExpense">Review Expenses</h1>

            <div class="marginBumpExpense">
              <div class="panel panel-default"  id="goBlack">
                <div class="panel-body">
                  <h2 class="page-header" style="margin:1px;text-align:center;" id="dateTitle"></h2>


                </div>

                <div style="line-height:75%;"><br></div>


                <div class="container" style="width:100%;">
                  <div class="well span8 offset2">

                    <div id="expenseTab1">
                        <div class="expenseTab" data-role="CREDITUNION">
                          <div class="row-fluid user-row">
                            <div class="span1 dropdown-user pull-right hvr-icon-hang" data-for=".CLASSTHATACTIVATESDROPDOWN1">

                            </div>

                            <div class="span10">
                              <strong class="CUTitle">ITS A CREDIT UNION</strong><br>

                              <p class="text-muted">Approval Status: <span id="approvalStatus">Reviewed</span></p>
                              <div style="margin-top:20px;margin-left:30px;width:90%;position:relative;">
                                <div class="progress" style="width:100%;height:20px;">
                                  <div class="one"></div><div class="two"></div><div class="three"></div><div class="four"></div>
                                  <div class="pb progress-bar" style="width: 27%"></div>
                                </div>
                              </div>
                            </div>
                          </div>

                          <div class="row-fluid user-infos CLASSTHATACTIVATESDROPDOWN1" style="margin-top:20px;">
                            <div class="span10 offset1">
                              <div class="panel panel-primary">
                                <div class="panel-heading">
                                  <h3 class="panel-title">Expense Entries</h3>
                                </div>
                                <div class="panel-body">
                                  <div class="row-fluid">
                                    <div class="table-container">
                                      <table id="tableholder" class="table table-filter">
                                        <tbody data-cu="CREDITUNION">
                                        <tr id="noExpense" style="display:none;">
                                          <td colspan="5" style="text-align:center;">
                                            <h2>No expenses found :( </h2>
                                          </td>
                                        </tr>
                                        <% @expenses.each do |e| %>
                                            <tr id="row_<%= e.id %>" class="expenseEntry" data-name="<%= e.user.first_name%> <%= e.user.last_name %>" data-cu="<%= e.credit_union %>" data-date="<%= e.date_activity %>" >
                                              <td>
                                                <div class="ckbox">
                                                  <div class="approvalButtons"  style="width:80px;" ><%= form_for(e, remote: true, :url => {:action => 'update', :id => e.id}) do |f| %><%= f.text_field :approval, :value => e.approval,  :style => "display:none;", :id => "ApprovalBlob" %><%= button_tag "", type: 'submit', class: "approvalSuccessButton", id:"successBut", name: "subaction", value: "ApprovedEX", style: "" %><%= button_tag "", type: 'submit', class: "btn btn-default glyphicon glyphicon-remove", id: "failBut", name: "subaction", value: "UnapprovedEX", style: "" %></div>
                                                    <% end %>
                                                </div>
                                              </td>
                                              <td>
                                                <a href="javascript:;" class="star">
                                                  <i class="glyphicon glyphicon-star"></i>
                                                </a>
                                              </td>
                                              <td>

                                                <div class="media" data-toggle="modal" data-target="#myModal-<%= e.id %>">
                                                  <a href="#" class="pull-left" >
                                                    <% if e.image.blank? %>
                                                        <img src="http://i.imgur.com/kg0jDMm.png" class="media-photo">
                                                    <% else %>
                                                        <%= image_tag e.image.thumb %>
                                                    <% end %>
                                                  </a>

                                                  <div class="pull-left">
                                                    <h4 class="title" style="text-align:left;">
                                                      <%= e.type_of_expense%>
                                                    </h4>
                                                    <p class="summary">$<%= e.amount %></p>
                                                  </div>
                                                  <div class="media-body pull-right" style="width:300px;">
                                                    <span class="media-meta pull-right dateHolder" id="dateOfTime">&nbsp;&nbsp;&nbsp;&nbsp;<h10 class="dateBlob"><%= e.date_activity %></h10><p class="idholder" style="display:none"><%= e.id%></p></span>
                                                    <h4 class="title">

                                                      <span class="pull-right pagado approvalclass" id="approval"><%= e.approval %><p style="display:none"><%= e.id%></p></span>

                                                    </h4>

                                                  </div>
                                                </div>

                                              </td>
                                            </tr>
                                        <% end %>
                                        </tbody>
                                      </table>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                          <hr style="border-color:#0d5ddd;">
                        </div>
                    </div>

                    <div id="expenseTab2">
                    <div class="expenseTab" data-role="CREDITUNION">
                      <div class="row-fluid user-row">
                        <div class="span1 dropdown-user pull-right hvr-icon-hang" data-for=".CLASSTHATACTIVATESDROPDOWN2">

                        </div>

                        <div class="span10">
                          <strong class="CUTitle">ITS A CREDIT UNION</strong><br>

                          <p class="text-muted">Approval Status: <span id="approvalStatus">Reviewed</span></p>
                          <div style="margin-top:20px;margin-left:30px;width:90%;position:relative;">
                            <div class="progress" style="width:100%;height:20px;">
                              <div class="one"></div><div class="two"></div><div class="three"></div><div class="four"></div>
                              <div class="pb progress-bar" style="width: 27%"></div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row-fluid user-infos CLASSTHATACTIVATESDROPDOWN2" style="margin-top:20px;">
                        <div class="span10 offset1">
                          <div class="panel panel-primary">
                            <div class="panel-heading">
                              <h3 class="panel-title">Expense Entries</h3>
                            </div>
                            <div class="panel-body">
                              <div class="row-fluid">
                                <div class="table-container">
                                  <table id="tableholder" class="table table-filter">
                                    <tbody data-cu="CREDITUNION">
                                    <tr id="noExpense" style="display:none;">
                                      <td colspan="5" style="text-align:center;">
                                        <h2>No expenses found :( </h2>
                                      </td>
                                    </tr>
                                    <% @expenses.each do |e| %>
                                        <tr id="row_<%= e.id %>" class="expenseEntry" data-name="<%= e.user.first_name%> <%= e.user.last_name %>" data-cu="<%= e.credit_union %>" data-date="<%= e.date_activity %>" >
                                          <td>
                                            <div class="ckbox">
                                              <div class="approvalButtons"  style="width:80px;" ><%= form_for(e, remote: true, :url => {:action => 'update', :id => e.id}) do |f| %><%= f.text_field :approval, :value => e.approval,  :style => "display:none;", :id => "ApprovalBlob" %><%= button_tag "", type: 'submit', class: "approvalSuccessButton", id:"successBut", name: "subaction", value: "ApprovedEX", style: "" %><%= button_tag "", type: 'submit', class: "btn btn-default glyphicon glyphicon-remove", id: "failBut", name: "subaction", value: "UnapprovedEX", style: "" %></div>
                                                <% end %>
                                            </div>
                                          </td>
                                          <td>
                                            <a href="javascript:;" class="star">
                                              <i class="glyphicon glyphicon-star"></i>
                                            </a>
                                          </td>
                                          <td>

                                            <div class="media" data-toggle="modal" data-target="#myModal-<%= e.id %>">
                                              <a href="#" class="pull-left" >
                                                <% if e.image.blank? %>
                                                    <img src="http://i.imgur.com/kg0jDMm.png" class="media-photo">
                                                <% else %>
                                                    <%= image_tag e.image.thumb %>
                                                <% end %>
                                              </a>

                                              <div class="pull-left">
                                                <h4 class="title" style="text-align:left;">
                                                  <%= e.type_of_expense%>
                                                </h4>
                                                <p class="summary">$<%= e.amount %></p>
                                              </div>
                                              <div class="media-body pull-right" style="width:300px;">
                                                <span class="media-meta pull-right dateHolder" id="dateOfTime">&nbsp;&nbsp;&nbsp;&nbsp;<h10 class="dateBlob"><%= e.date_activity %></h10><p class="idholder" style="display:none"><%= e.id%></p></span>
                                                <h4 class="title">

                                                  <span class="pull-right pagado approvalclass" id="approval"><%= e.approval %><p style="display:none"><%= e.id%></p></span>

                                                </h4>

                                              </div>
                                            </div>

                                          </td>
                                        </tr>
                                    <% end %>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr style="border-color:#0d5ddd;">
                    </div>
                    </div>

                    <div id="expenseTab3">
                    <div class="expenseTab" data-role="CREDITUNION">
                      <div class="row-fluid user-row">
                        <div class="span1 dropdown-user pull-right hvr-icon-hang" data-for=".CLASSTHATACTIVATESDROPDOWN3">

                        </div>

                        <div class="span10">
                          <strong class="CUTitle">ITS A CREDIT UNION</strong><br>

                          <p class="text-muted">Approval Status: <span id="approvalStatus">Reviewed</span></p>
                          <div style="margin-top:20px;margin-left:30px;width:90%;position:relative;">
                            <div class="progress" style="width:100%;height:20px;">
                              <div class="one"></div><div class="two"></div><div class="three"></div><div class="four"></div>
                              <div class="pb progress-bar" style="width: 27%"></div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="row-fluid user-infos CLASSTHATACTIVATESDROPDOWN3" style="margin-top:20px;">
                        <div class="span10 offset1">
                          <div class="panel panel-primary">
                            <div class="panel-heading">
                              <h3 class="panel-title">Expense Entries</h3>
                            </div>
                            <div class="panel-body">
                              <div class="row-fluid">
                                <div class="table-container">
                                  <table id="tableholder" class="table table-filter">
                                    <tbody data-cu="CREDITUNION">
                                    <tr id="noExpense" style="display:none;">
                                      <td colspan="5" style="text-align:center;">
                                        <h2>No expenses found :( </h2>
                                      </td>
                                    </tr>
                                    <% @expenses.each do |e| %>
                                        <tr id="row_<%= e.id %>" class="expenseEntry" data-cu="<%= e.credit_union %>" data-date="<%= e.date_activity %>" data-name="<%= e.user.first_name%> <%= e.user.last_name %>">
                                          <td>
                                            <div class="ckbox">
                                              <div class="approvalButtons"  style="width:80px;" ><%= form_for(e, remote: true, :url => {:action => 'update', :id => e.id}) do |f| %><%= f.text_field :approval, :value => e.approval,  :style => "display:none;", :id => "ApprovalBlob" %><%= button_tag "", type: 'submit', class: "approvalSuccessButton", id:"successBut", name: "subaction", value: "ApprovedEX", style: "" %><%= button_tag "", type: 'submit', class: "btn btn-default glyphicon glyphicon-remove", id: "failBut", name: "subaction", value: "UnapprovedEX", style: "" %></div>
                                                <% end %>
                                            </div>
                                          </td>
                                          <td>
                                            <a href="javascript:;" class="star">
                                              <i class="glyphicon glyphicon-star"></i>
                                            </a>
                                          </td>
                                          <td>

                                            <div class="media" data-toggle="modal" data-target="#myModal-<%= e.id %>">
                                              <a href="#" class="pull-left" >
                                                <% if e.image.blank? %>
                                                    <img src="http://i.imgur.com/kg0jDMm.png" class="media-photo">
                                                <% else %>
                                                    <%= image_tag e.image.thumb %>
                                                <% end %>
                                              </a>

                                              <div class="pull-left">
                                                <h4 class="title" style="text-align:left;">
                                                  <%= e.type_of_expense%>
                                                </h4>
                                                <p class="summary">$<%= e.amount %></p>
                                              </div>
                                              <div class="media-body pull-right" style="width:300px;">
                                                <span class="media-meta pull-right dateHolder" id="dateOfTime">&nbsp;&nbsp;&nbsp;&nbsp;<h10 class="dateBlob"><%= e.date_activity %></h10><p class="idholder" style="display:none"><%= e.id%></p></span>
                                                <h4 class="title">

                                                  <span class="pull-right pagado approvalclass" id="approval"><%= e.approval %><p style="display:none"><%= e.id%></p></span>

                                                </h4>

                                              </div>
                                            </div>

                                          </td>
                                        </tr>
                                    <% end %>
                                    </tbody>
                                  </table>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr style="border-color:#0d5ddd;">
                    </div>
                    </div>

                    <div id="expenseTab4">
                      <div class="expenseTab" data-role="CREDITUNION">
                        <div class="row-fluid user-row">
                          <div class="span1 dropdown-user pull-right hvr-icon-hang" data-for=".CLASSTHATACTIVATESDROPDOWN4">

                          </div>

                          <div class="span10">
                            <strong class="CUTitle">ITS A CREDIT UNION</strong><br>

                            <p class="text-muted">Approval Status: <span id="approvalStatus">Reviewed</span></p>
                            <div style="margin-top:20px;margin-left:30px;width:90%;position:relative;">
                              <div class="progress" style="width:100%;height:20px;">
                                <div class="one"></div><div class="two"></div><div class="three"></div><div class="four"></div>
                                <div class="pb progress-bar" style="width: 27%"></div>
                              </div>
                            </div>
                          </div>
                        </div>

                        <div class="row-fluid user-infos CLASSTHATACTIVATESDROPDOWN4" style="margin-top:20px;">
                          <div class="span10 offset1">
                            <div class="panel panel-primary">
                              <div class="panel-heading">
                                <h3 class="panel-title">Expense Entries</h3>
                              </div>
                              <div class="panel-body">
                                <div class="row-fluid">
                                  <div class="table-container">
                                    <table id="tableholder" class="table table-filter">
                                      <tbody data-cu="CREDITUNION">
                                      <tr id="noExpense" style="display:none;">
                                        <td colspan="5" style="text-align:center;">
                                          <h2>No expenses found :( </h2>
                                        </td>
                                      </tr>
                                      <% @expenses.each do |e| %>
                                          <tr id="row_<%= e.id %>" class="expenseEntry" data-name="<%= e.user.first_name%> <%= e.user.last_name %>" data-cu="<%= e.credit_union %>" data-date="<%= e.date_activity %>" >
                                            <td>
                                              <div class="ckbox">
                                                <div class="approvalButtons"  style="width:80px;" ><%= form_for(e, remote: true, :url => {:action => 'update', :id => e.id}) do |f| %><%= f.text_field :approval, :value => e.approval,  :style => "display:none;", :id => "ApprovalBlob" %><%= button_tag "", type: 'submit', class: "approvalSuccessButton", id:"successBut", name: "subaction", value: "ApprovedEX", style: "" %><%= button_tag "", type: 'submit', class: "btn btn-default glyphicon glyphicon-remove", id: "failBut", name: "subaction", value: "UnapprovedEX", style: "" %></div>
                                                  <% end %>
                                                  </div>
                                            </td>
                                            <td>
                                              <a href="javascript:;" class="star">
                                                <i class="glyphicon glyphicon-star"></i>
                                              </a>
                                            </td>
                                            <td>

                                              <div class="media" data-toggle="modal" data-target="#myModal-<%= e.id %>">
                                                <a href="#" class="pull-left" >
                                                  <% if e.image.blank? %>
                                                      <img src="http://i.imgur.com/kg0jDMm.png" class="media-photo">
                                                  <% else %>
                                                      <%= image_tag e.image.thumb %>
                                                  <% end %>
                                                </a>

                                                <div class="pull-left">
                                                  <h4 class="title" style="text-align:left;">
                                                    <%= e.type_of_expense%>
                                                  </h4>
                                                  <p class="summary">$<%= e.amount %></p>
                                                </div>
                                                <div class="media-body pull-right" style="width:300px;">
                                                  <span class="media-meta pull-right dateHolder" id="dateOfTime">&nbsp;&nbsp;&nbsp;&nbsp;<h10 class="dateBlob"><%= e.date_activity %></h10><p class="idholder" style="display:none"><%= e.id%></p></span>
                                                  <h4 class="title">

                                                    <span class="pull-right pagado approvalclass" id="approval"><%= e.approval %><p style="display:none"><%= e.id%></p></span>

                                                  </h4>

                                                </div>
                                              </div>

                                            </td>
                                          </tr>
                                      <% end %>
                                      </tbody>
                                    </table>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                        <hr style="border-color:#0d5ddd;">
                      </div>
                    </div>

                  </div>
                  <button type="button" id="clearMonth" class="btn btn-default btn-filter" style="margin:2px;margin-bottom:15px;">Return to Main</button>
                </div>


              </div>
            </div>

        </div>
        </section>

      </div>
    </div>
  </div>

  <% @expenses.each do |e| %>
      <div class="modal fade" id="myModal-<%= e.id %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content containerz">
            <div class="modal-header" style="padding: 1px 15px 1px 15px;">
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>

            </div>

            <div class="modal-body">

              <div class="containerz" class="inputwrap" style="">
                <form id="contactz" action="" method="post" style="padding: 2px 25px 25px 25px;">
                  <h3 style="font-size:20px;text-align:center;">Expense from <%= e.date_activity %></h3>
                  <div style="line-height:75%;"><br></div>
                  <p>Credit Union: <%= e.credit_union %></p>
                  <p>Type: <%= e.type_of_expense %></p>
                  <p>Amount: $<%= e.amount %></p>
                  <p>Description: <%= e.notes %></p>
                  <a data-toggle="modal" href="#myModal2-<%= e.id %>" class="">
                    <%= image_tag e.image, :id => "imageNonZoom" %>
                  </a>
                </form>
              </div>
            </div>


          </div>
        </div>
      </div>
      <div class="modal fade rotate" id="myModal2-<%= e.id %>" style="width:800px;">
        <div class="modal-dialog" style="width:800px;position:relative;">
          <div class="modal-content" style="margin:30px;position:relative;">
            <div style="margin:0 auto;display:relative;">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 class="modal-title" style="text-align:center;">Image Zoom</h4>

              </div>
              <div style="margin: 0 auto;text-align:center;">
                <%= image_tag e.image %>
              </div>
            </div>
          </div>
        </div>
      </div>
  <% end %>
